# Load Dataset

In [1]:
# set up notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
# read the admissions table
df_adm = pd.read_csv('ADMISSIONS.csv')
df_pat = pd.read_csv('PATIENTS.csv')
df_icu = pd.read_csv('ICUSTAYS.csv')

In [3]:
df_ineven = pd.read_csv('INPUTEVENTS_CV.csv')

/Users/kexinzhang/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,9,17,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_dicd_dia = pd.read_csv('D_ICD_DIAGNOSES.csv')

In [5]:
df_proce = pd.read_csv('PROCEDUREEVENTS_MV.csv')

In [6]:
df_dia_icd = pd.read_csv('DIAGNOSES_ICD.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')

# Count Number of Total People

In [7]:
df_pat.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [8]:
df_pat.GENDER.value_counts()

M    26121
F    20399
Name: GENDER, dtype: int64

In [9]:
gender_total = df_pat.SUBJECT_ID.nunique()
print("Total number of patient is :", gender_total )

Total number of patient is : 46520

#### Convert dates

In [10]:
df_pat.DOB = pd.to_datetime(df_pat.DOB, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
df_pat.DOD = pd.to_datetime(df_pat.DOD, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')

In [11]:
df_pat.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
222,1,2,M,2138-07-17,NaT,NaN,NaN,0
223,2,3,M,2025-04-11,2102-06-14,NaN,2102-06-14 00:00:00,1
224,3,4,F,2143-05-12,NaT,NaN,NaN,0
225,4,5,M,2103-02-02,NaT,NaN,NaN,0
226,5,6,F,2109-06-21,NaT,NaN,NaN,0
...,...,...,...,...,...,...,...,...
41091,46516,99985,M,2127-04-08,NaT,NaN,NaN,0
41092,46517,99991,M,2137-04-07,NaT,NaN,NaN,0
41093,46518,99992,F,2078-10-17,NaT,NaN,NaN,0
41094,46519,99995,F,2058-05-29,2147-09-29,NaN,2147-09-29 00:00:00,1
41095,46520,99999,F,2054-01-06,NaT,NaN,NaN,0

# Count Ethnicity, Marital status, and Admission type

In [49]:
# Summarize Ethnicity
regex_black = '(BLACK(/| )([A-Z]| )*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regex_black, 'BLACK')

regx_white = '(WHITE - [A-Z ]*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_white, 'WHITE')

regx_asian = '(ASIAN (- )?[A-Z ]*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_asian, 'ASIAN')

regx_hispanic = '(HISPANIC/LATINO - [A-Z \(\)]*)|(HISPANIC OR LATINO([A-Z \(\)]*))'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_hispanic, 'HISPANIC OR LATINO')

/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_64341/2112481919.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regex_black, 'BLACK')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_64341/2112481919.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_white, 'WHITE')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_64341/2112481919.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_asian, 'ASIAN')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_64341/2112481919.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_hispanic, 'HISPANIC OR LATINO')

#### Dropping Duplicate Subject_id

In [50]:
df_uniadm = df_adm.drop_duplicates(subset=["SUBJECT_ID"], keep='last')

In [51]:
df_uniadm.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
211,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
212,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
213,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME WITH HOME IV PROVIDR,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,2191-03-15 13:10:00,2191-03-16 01:10:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",0,1
214,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,BUDDHIST,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
215,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,CHRONIC RENAL FAILURE/SDA,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56435,58972,99985,176670,2181-01-27 02:47:00,2181-02-12 17:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,JEWISH,MARRIED,WHITE,2181-01-26 23:35:00,2181-01-27 04:18:00,FEVER,0,1
56436,58973,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,DIVERTICULITIS/SDA,0,1
56437,58974,99992,197084,2144-07-25 18:03:00,2144-07-28 17:56:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2144-07-25 13:40:00,2144-07-25 18:50:00,RETROPERITONEAL HEMORRHAGE,0,1
56565,58975,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,ABDOMINAL AORTIC ANEURYSM/SDA,0,1
56566,58976,99999,113369,2117-12-30 07:15:00,2118-01-04 16:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,SPAN,JEHOVAH'S WITNESS,SEPARATED,HISPANIC OR LATINO,NaN,NaN,SPONDYLOLISTHESIS/SDA,0,1

#### Combine patient and admission df

In [52]:
df_merge=pd.merge(df_pat, df_uniadm, how='outer', on='SUBJECT_ID')

In [53]:
df_merge.head()

,ROW_ID_x,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ROW_ID_y,HADM_ID,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,323,158975,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,NaN,NaN,GI BLEEDING\COLONOSCOPY,0,1
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1,324,124271,...,Self Pay,HAIT,NOT SPECIFIED,SINGLE,BLACK,2188-11-12 06:56:00,2188-11-12 10:10:00,PNEUMONIA;R/O TB,1,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0,325,117937,...,Private,NaN,OTHER,NaN,UNKNOWN/NOT SPECIFIED,2110-07-27 05:00:00,2110-07-27 07:15:00,INTRACRANIAL HEAD BLEED,0,1
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0,327,193470,...,Private,NaN,UNOBTAINABLE,SINGLE,WHITE,2133-08-15 01:42:00,2133-08-15 04:45:00,GASTROINTESINAL BLEED,0,1
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0,328,176189,...,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,COMPLETE HEART BLOCK\PACEMAKER IMPLANT,0,1

In [54]:
df_merge_female = df_merge[df_merge.GENDER == 'F']
df_merge_male = df_merge[df_merge.GENDER == 'M']

## Count Ethnicity

In [55]:
# total count & prob for each ethnicity
num_rac = df_uniadm.ETHNICITY.value_counts()
rac_prob = df_merge.groupby('ETHNICITY').size().div(len(df_merge))*100

In [57]:
rac_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.587274
UNKNOWN/NOT SPECIFIED                                        8.886500
BLACK                                                        8.303955
ASIAN                                                        3.632846
HISPANIC OR LATINO                                           3.529665
OTHER                                                        2.770851
UNABLE TO OBTAIN                                             1.691745
PATIENT DECLINED TO ANSWER                                   1.051161
MULTI RACE ETHNICITY                                         0.234308
AMERICAN INDIAN/ALASKA NATIVE                                0.094583
PORTUGUESE                                                   0.085985
MIDDLE EASTERN                                               0.060189
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.032244
CARIBBEAN ISLAND                                             0.017197
SOUTH AMERICAN                                               0.017197
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004299
dtype: float64

In [116]:
num_rac

WHITE                                                       32372
UNKNOWN/NOT SPECIFIED                                        4134
BLACK                                                        3863
ASIAN                                                        1690
HISPANIC OR LATINO                                           1642
OTHER                                                        1289
UNABLE TO OBTAIN                                              787
PATIENT DECLINED TO ANSWER                                    489
MULTI RACE ETHNICITY                                          109
AMERICAN INDIAN/ALASKA NATIVE                                  44
PORTUGUESE                                                     40
MIDDLE EASTERN                                                 28
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      15
SOUTH AMERICAN                                                  8
CARIBBEAN ISLAND                                                8
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        2
Name: ETHNICITY, dtype: int64

In [58]:
# total count for ethnicity in female
num_rac_F = df_merge_female.ETHNICITY.value_counts()
rac_female_prob = df_merge_female.groupby('ETHNICITY').size().div(len(df_merge_female))*100

In [60]:
rac_female_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.106329
BLACK                                                       10.054414
UNKNOWN/NOT SPECIFIED                                        8.343546
ASIAN                                                        3.647238
HISPANIC OR LATINO                                           3.235453
OTHER                                                        2.480514
UNABLE TO OBTAIN                                             1.583411
PATIENT DECLINED TO ANSWER                                   1.004951
MULTI RACE ETHNICITY                                         0.245110
AMERICAN INDIAN/ALASKA NATIVE                                0.093142
PORTUGUESE                                                   0.093142
MIDDLE EASTERN                                               0.044120
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.034315
SOUTH AMERICAN                                               0.019609
CARIBBEAN ISLAND                                             0.009804
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004902
dtype: float64

In [117]:
num_rac_F

WHITE                                                       14097
BLACK                                                        2051
UNKNOWN/NOT SPECIFIED                                        1702
ASIAN                                                         744
HISPANIC OR LATINO                                            660
OTHER                                                         506
UNABLE TO OBTAIN                                              323
PATIENT DECLINED TO ANSWER                                    205
MULTI RACE ETHNICITY                                           50
AMERICAN INDIAN/ALASKA NATIVE                                  19
PORTUGUESE                                                     19
MIDDLE EASTERN                                                  9
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                       7
SOUTH AMERICAN                                                  4
CARIBBEAN ISLAND                                                2
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        1
Name: ETHNICITY, dtype: int64

In [61]:
# total count for ethnicity in male
num_rac_M = df_merge_male.ETHNICITY.value_counts()
rac_male_prob = df_merge_male.groupby('ETHNICITY').size().div(len(df_merge_male))*100

In [63]:
rac_male_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.962865
UNKNOWN/NOT SPECIFIED                                        9.310516
BLACK                                                        6.936947
HISPANIC OR LATINO                                           3.759427
ASIAN                                                        3.621607
OTHER                                                        2.997588
UNABLE TO OBTAIN                                             1.776349
PATIENT DECLINED TO ANSWER                                   1.087248
MULTI RACE ETHNICITY                                         0.225872
AMERICAN INDIAN/ALASKA NATIVE                                0.095708
PORTUGUESE                                                   0.080395
MIDDLE EASTERN                                               0.072738
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.030627
CARIBBEAN ISLAND                                             0.022970
SOUTH AMERICAN                                               0.015313
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.003828
dtype: float64

In [118]:
num_rac_M

WHITE                                                       18275
UNKNOWN/NOT SPECIFIED                                        2432
BLACK                                                        1812
HISPANIC OR LATINO                                            982
ASIAN                                                         946
OTHER                                                         783
UNABLE TO OBTAIN                                              464
PATIENT DECLINED TO ANSWER                                    284
MULTI RACE ETHNICITY                                           59
AMERICAN INDIAN/ALASKA NATIVE                                  25
PORTUGUESE                                                     21
MIDDLE EASTERN                                                 19
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                       8
CARIBBEAN ISLAND                                                6
SOUTH AMERICAN                                                  4
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        1
Name: ETHNICITY, dtype: int64

## Count Admission Type

In [64]:
# total number of admission
num_adm = df_uniadm.ADMISSION_TYPE.value_counts()
adm_prob = df_merge.groupby('ADMISSION_TYPE').size().div(len(df_merge))*100

In [123]:
adm_prob

ADMISSION_TYPE
ELECTIVE     12.996561
EMERGENCY    68.372743
NEWBORN      16.407997
URGENT        2.222700
dtype: float64

In [125]:
# total number of admission in female
num_adm_F = df_merge_female.ADMISSION_TYPE.value_counts()
adm_female_prob = df_merge_female.groupby('ADMISSION_TYPE').size().div(len(df_merge_female))*100
num_adm_F

EMERGENCY    13983
NEWBORN       3510
ELECTIVE      2436
URGENT         470
Name: ADMISSION_TYPE, dtype: int64

In [67]:
adm_female_prob

ADMISSION_TYPE
ELECTIVE     11.941762
EMERGENCY    68.547478
NEWBORN      17.206726
URGENT        2.304035
dtype: float64

In [126]:
# total number of admission in male
num_adm_M = df_merge_male.ADMISSION_TYPE.value_counts()
adm_male_prob = df_merge_male.groupby('ADMISSION_TYPE').size().div(len(df_merge_male))*100
num_adm_M

EMERGENCY    17824
NEWBORN       4123
ELECTIVE      3610
URGENT         564
Name: ADMISSION_TYPE, dtype: int64

In [69]:
adm_male_prob

ADMISSION_TYPE
ELECTIVE     13.820298
EMERGENCY    68.236285
NEWBORN      15.784235
URGENT        2.159182
dtype: float64

## Count Marital status

In [127]:
# total number of marital status
num_mar = df_uniadm.MARITAL_STATUS.value_counts()
mar_prob = df_uniadm.groupby('MARITAL_STATUS').size().div(len(df_uniadm))*100
num_mar

MARRIED              18492
SINGLE                9767
WIDOWED               5462
DIVORCED              2331
SEPARATED              384
UNKNOWN (DEFAULT)      307
LIFE PARTNER            13
Name: MARITAL_STATUS, dtype: int64

In [71]:
mar_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              39.750645
SINGLE               20.995271
WIDOWED              11.741187
DIVORCED              5.010748
SEPARATED             0.825451
UNKNOWN (DEFAULT)     0.659931
LIFE PARTNER          0.027945
dtype: float64

In [72]:
# total number of marital status in female

In [128]:
num_mar_F = df_merge_female.MARITAL_STATUS.value_counts()
mar_female_prob = df_merge_female.groupby('MARITAL_STATUS').size().div(len(df_merge_female))*100
num_mar_F

MARRIED              6192
SINGLE               4154
WIDOWED              4065
DIVORCED             1219
SEPARATED             212
UNKNOWN (DEFAULT)     154
LIFE PARTNER            5
Name: MARITAL_STATUS, dtype: int64

In [74]:
mar_female_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              30.354429
SINGLE               20.363743
WIDOWED              19.927447
DIVORCED              5.975783
SEPARATED             1.039267
UNKNOWN (DEFAULT)     0.754939
LIFE PARTNER          0.024511
dtype: float64

In [129]:
# total number of marital status in male
num_mar_M = df_merge_male.MARITAL_STATUS.value_counts()
mar_male_prob = df_merge_male.groupby('MARITAL_STATUS').size().div(len(df_merge_male))*100
num_mar_M

MARRIED              12300
SINGLE                5613
WIDOWED               1397
DIVORCED              1112
SEPARATED              172
UNKNOWN (DEFAULT)      153
LIFE PARTNER             8
Name: MARITAL_STATUS, dtype: int64

In [76]:
mar_male_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              47.088549
SINGLE               21.488458
WIDOWED               5.348187
DIVORCED              4.257111
SEPARATED             0.658474
UNKNOWN (DEFAULT)     0.585736
LIFE PARTNER          0.030627
dtype: float64

# Filter Out Breast Cancer

In [77]:
df_breast_cancer = df_dia_icd[df_dia_icd.ICD9_CODE=='1749']

In [87]:
df_breast_cancer.shape

(58, 5)

## Merge admission_df and breast cancer_df

In [107]:
bc_adm = pd.merge(df_breast_cancer, df_adm, how='inner', on=['SUBJECT_ID', 'HADM_ID'])

df_sub_gender = df_merge[['SUBJECT_ID', 'GENDER']]
bc_adm_2 = pd.merge(bc_adm, df_sub_gender, how='left', on='SUBJECT_ID')

In [109]:
bc_adm_2.GENDER.value_counts()

F    58
Name: GENDER, dtype: int64

In [96]:
bc_adm_black = bc_adm[bc_adm.ETHNICITY=="BLACK"]

In [101]:
bc_adm_black.shape

(6, 22)

There are 6 black people got breast cancer

In [99]:
bc_adm_white = bc_adm[bc_adm.ETHNICITY=="WHITE"]

In [102]:
bc_adm_white.shape

(46, 22)

There are 46 white people got breast cancer

In [113]:
a = bc_adm_2.groupby('ETHNICITY').size().div(len(bc_adm_2))*100

In [115]:
a.sort_values(ascending=False)

ETHNICITY
WHITE                    79.310345
BLACK                    10.344828
OTHER                     5.172414
MIDDLE EASTERN            1.724138
UNABLE TO OBTAIN          1.724138
UNKNOWN/NOT SPECIFIED     1.724138
dtype: float64