# Load Dataset

In [1]:
# set up notebook
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy

In [2]:
# read the admissions table
df_adm = pd.read_csv('ADMISSIONS.csv')
df_pat = pd.read_csv('PATIENTS.csv')
df_icu = pd.read_csv('ICUSTAYS.csv')

In [3]:
df_ineven = pd.read_csv('INPUTEVENTS_CV.csv')

/Users/kexinzhang/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,9,17,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
#df_dicd_dia = pd.read_csv('D_ICD_DIAGNOSES.csv')

In [4]:
#df_proce = pd.read_csv('PROCEDUREEVENTS_MV.csv')

In [5]:
df_dia_icd = pd.read_csv('DIAGNOSES_ICD.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')

# Count Number of Total People (Whole Data)

In [6]:
df_pat.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [7]:
df_pat.GENDER.value_counts()

M    26121
F    20399
Name: GENDER, dtype: int64

In [8]:
gender_total = df_pat.SUBJECT_ID.nunique()
print("Total number of patient is :", gender_total )

Total number of patient is : 46520

#### Convert dates

In [9]:
#df_pat.DOB = pd.to_datetime(df_pat.DOB, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
#df_pat.DOD = pd.to_datetime(df_pat.DOD, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
#df_adm.ADMITTIME = pd.to_datetime(df_adm.ADMITTIME, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')

#df_pat.DOB = pd.to_datetime(df_pat.DOB).dt.date
#df_adm.ADMITTIME = pd.to_datetime(df_adm.ADMITTIME).dt.date

#type(df_pat.DOB[1])

In [10]:
df_pat.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
222,1,2,M,2138-07-17 00:00:00,NaN,NaN,NaN,0
223,2,3,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
224,3,4,F,2143-05-12 00:00:00,NaN,NaN,NaN,0
225,4,5,M,2103-02-02 00:00:00,NaN,NaN,NaN,0
226,5,6,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
41091,46516,99985,M,2127-04-08 00:00:00,NaN,NaN,NaN,0
41092,46517,99991,M,2137-04-07 00:00:00,NaN,NaN,NaN,0
41093,46518,99992,F,2078-10-17 00:00:00,NaN,NaN,NaN,0
41094,46519,99995,F,2058-05-29 00:00:00,2147-09-29 00:00:00,NaN,2147-09-29 00:00:00,1
41095,46520,99999,F,2054-01-06 00:00:00,NaN,NaN,NaN,0

# Count Ethnicity, Marital status, and Admission type (Whole Data)

In [11]:
# Summarize Ethnicity
regex_black = '(BLACK(/| )([A-Z]| )*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regex_black, 'BLACK')

regx_white = '(WHITE - [A-Z ]*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_white, 'WHITE')

regx_asian = '(ASIAN (- )?[A-Z ]*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_asian, 'ASIAN')

regx_hispanic = '(HISPANIC/LATINO - [A-Z \(\)]*)|(HISPANIC OR LATINO([A-Z \(\)]*))'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_hispanic, 'HISPANIC OR LATINO')

/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_66635/2112481919.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regex_black, 'BLACK')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_66635/2112481919.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_white, 'WHITE')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_66635/2112481919.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_asian, 'ASIAN')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_66635/2112481919.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_hispanic, 'HISPANIC OR LATINO')

#### Dropping Duplicate Subject_id

In [12]:
df_uniadm = df_adm.drop_duplicates(subset=["SUBJECT_ID"], keep='last')

In [13]:
df_uniadm.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
211,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
212,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
213,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME WITH HOME IV PROVIDR,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,2191-03-15 13:10:00,2191-03-16 01:10:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",0,1
214,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,BUDDHIST,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
215,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,CHRONIC RENAL FAILURE/SDA,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56435,58972,99985,176670,2181-01-27 02:47:00,2181-02-12 17:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,JEWISH,MARRIED,WHITE,2181-01-26 23:35:00,2181-01-27 04:18:00,FEVER,0,1
56436,58973,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,DIVERTICULITIS/SDA,0,1
56437,58974,99992,197084,2144-07-25 18:03:00,2144-07-28 17:56:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2144-07-25 13:40:00,2144-07-25 18:50:00,RETROPERITONEAL HEMORRHAGE,0,1
56565,58975,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,ABDOMINAL AORTIC ANEURYSM/SDA,0,1
56566,58976,99999,113369,2117-12-30 07:15:00,2118-01-04 16:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,SPAN,JEHOVAH'S WITNESS,SEPARATED,HISPANIC OR LATINO,NaN,NaN,SPONDYLOLISTHESIS/SDA,0,1

#### Combine patient and admission df

In [14]:
df_merge=pd.merge(df_pat, df_uniadm, how='outer', on='SUBJECT_ID')

In [15]:
df_merge.head()

,ROW_ID_x,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ROW_ID_y,HADM_ID,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,323,158975,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,NaN,NaN,GI BLEEDING\COLONOSCOPY,0,1
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1,324,124271,...,Self Pay,HAIT,NOT SPECIFIED,SINGLE,BLACK,2188-11-12 06:56:00,2188-11-12 10:10:00,PNEUMONIA;R/O TB,1,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0,325,117937,...,Private,NaN,OTHER,NaN,UNKNOWN/NOT SPECIFIED,2110-07-27 05:00:00,2110-07-27 07:15:00,INTRACRANIAL HEAD BLEED,0,1
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0,327,193470,...,Private,NaN,UNOBTAINABLE,SINGLE,WHITE,2133-08-15 01:42:00,2133-08-15 04:45:00,GASTROINTESINAL BLEED,0,1
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0,328,176189,...,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,COMPLETE HEART BLOCK\PACEMAKER IMPLANT,0,1

In [16]:
df_merge_female = df_merge[df_merge.GENDER == 'F']
df_merge_male = df_merge[df_merge.GENDER == 'M']

## Count Ethnicity

In [17]:
# total count & prob for each ethnicity
num_rac = df_uniadm.ETHNICITY.value_counts()
rac_prob = df_merge.groupby('ETHNICITY').size().div(len(df_merge))*100

In [18]:
rac_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.587274
UNKNOWN/NOT SPECIFIED                                        8.886500
BLACK                                                        8.303955
ASIAN                                                        3.632846
HISPANIC OR LATINO                                           3.529665
OTHER                                                        2.770851
UNABLE TO OBTAIN                                             1.691745
PATIENT DECLINED TO ANSWER                                   1.051161
MULTI RACE ETHNICITY                                         0.234308
AMERICAN INDIAN/ALASKA NATIVE                                0.094583
PORTUGUESE                                                   0.085985
MIDDLE EASTERN                                               0.060189
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.032244
CARIBBEAN ISLAND                                             0.017197
SOUTH AMERICAN                                               0.017197
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004299
dtype: float64

In [19]:
num_rac

WHITE                                                       32372
UNKNOWN/NOT SPECIFIED                                        4134
BLACK                                                        3863
ASIAN                                                        1690
HISPANIC OR LATINO                                           1642
OTHER                                                        1289
UNABLE TO OBTAIN                                              787
PATIENT DECLINED TO ANSWER                                    489
MULTI RACE ETHNICITY                                          109
AMERICAN INDIAN/ALASKA NATIVE                                  44
PORTUGUESE                                                     40
MIDDLE EASTERN                                                 28
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      15
SOUTH AMERICAN                                                  8
CARIBBEAN ISLAND                                                8
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        2
Name: ETHNICITY, dtype: int64

In [20]:
# total count for ethnicity in female
num_rac_F = df_merge_female.ETHNICITY.value_counts()
rac_female_prob = df_merge_female.groupby('ETHNICITY').size().div(len(df_merge_female))*100

In [21]:
rac_female_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.106329
BLACK                                                       10.054414
UNKNOWN/NOT SPECIFIED                                        8.343546
ASIAN                                                        3.647238
HISPANIC OR LATINO                                           3.235453
OTHER                                                        2.480514
UNABLE TO OBTAIN                                             1.583411
PATIENT DECLINED TO ANSWER                                   1.004951
MULTI RACE ETHNICITY                                         0.245110
AMERICAN INDIAN/ALASKA NATIVE                                0.093142
PORTUGUESE                                                   0.093142
MIDDLE EASTERN                                               0.044120
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.034315
SOUTH AMERICAN                                               0.019609
CARIBBEAN ISLAND                                             0.009804
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004902
dtype: float64

In [22]:
num_rac_F

WHITE                                                       14097
BLACK                                                        2051
UNKNOWN/NOT SPECIFIED                                        1702
ASIAN                                                         744
HISPANIC OR LATINO                                            660
OTHER                                                         506
UNABLE TO OBTAIN                                              323
PATIENT DECLINED TO ANSWER                                    205
MULTI RACE ETHNICITY                                           50
AMERICAN INDIAN/ALASKA NATIVE                                  19
PORTUGUESE                                                     19
MIDDLE EASTERN                                                  9
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                       7
SOUTH AMERICAN                                                  4
CARIBBEAN ISLAND                                                2
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        1
Name: ETHNICITY, dtype: int64

In [23]:
# total count for ethnicity in male
num_rac_M = df_merge_male.ETHNICITY.value_counts()
rac_male_prob = df_merge_male.groupby('ETHNICITY').size().div(len(df_merge_male))*100

In [24]:
rac_male_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.962865
UNKNOWN/NOT SPECIFIED                                        9.310516
BLACK                                                        6.936947
HISPANIC OR LATINO                                           3.759427
ASIAN                                                        3.621607
OTHER                                                        2.997588
UNABLE TO OBTAIN                                             1.776349
PATIENT DECLINED TO ANSWER                                   1.087248
MULTI RACE ETHNICITY                                         0.225872
AMERICAN INDIAN/ALASKA NATIVE                                0.095708
PORTUGUESE                                                   0.080395
MIDDLE EASTERN                                               0.072738
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.030627
CARIBBEAN ISLAND                                             0.022970
SOUTH AMERICAN                                               0.015313
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.003828
dtype: float64

In [25]:
num_rac_M

WHITE                                                       18275
UNKNOWN/NOT SPECIFIED                                        2432
BLACK                                                        1812
HISPANIC OR LATINO                                            982
ASIAN                                                         946
OTHER                                                         783
UNABLE TO OBTAIN                                              464
PATIENT DECLINED TO ANSWER                                    284
MULTI RACE ETHNICITY                                           59
AMERICAN INDIAN/ALASKA NATIVE                                  25
PORTUGUESE                                                     21
MIDDLE EASTERN                                                 19
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                       8
CARIBBEAN ISLAND                                                6
SOUTH AMERICAN                                                  4
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        1
Name: ETHNICITY, dtype: int64

## Count Admission Type

In [26]:
# total number of admission
num_adm = df_uniadm.ADMISSION_TYPE.value_counts()
adm_prob = df_merge.groupby('ADMISSION_TYPE').size().div(len(df_merge))*100

In [27]:
adm_prob

ADMISSION_TYPE
ELECTIVE     12.996561
EMERGENCY    68.372743
NEWBORN      16.407997
URGENT        2.222700
dtype: float64

In [28]:
# total number of admission in female
num_adm_F = df_merge_female.ADMISSION_TYPE.value_counts()
adm_female_prob = df_merge_female.groupby('ADMISSION_TYPE').size().div(len(df_merge_female))*100
num_adm_F

EMERGENCY    13983
NEWBORN       3510
ELECTIVE      2436
URGENT         470
Name: ADMISSION_TYPE, dtype: int64

In [29]:
adm_female_prob

ADMISSION_TYPE
ELECTIVE     11.941762
EMERGENCY    68.547478
NEWBORN      17.206726
URGENT        2.304035
dtype: float64

In [30]:
# total number of admission in male
num_adm_M = df_merge_male.ADMISSION_TYPE.value_counts()
adm_male_prob = df_merge_male.groupby('ADMISSION_TYPE').size().div(len(df_merge_male))*100
num_adm_M

EMERGENCY    17824
NEWBORN       4123
ELECTIVE      3610
URGENT         564
Name: ADMISSION_TYPE, dtype: int64

In [31]:
adm_male_prob

ADMISSION_TYPE
ELECTIVE     13.820298
EMERGENCY    68.236285
NEWBORN      15.784235
URGENT        2.159182
dtype: float64

## Count Marital status

In [32]:
# total number of marital status
num_mar = df_uniadm.MARITAL_STATUS.value_counts()
mar_prob = df_uniadm.groupby('MARITAL_STATUS').size().div(len(df_uniadm))*100
num_mar

MARRIED              18492
SINGLE                9767
WIDOWED               5462
DIVORCED              2331
SEPARATED              384
UNKNOWN (DEFAULT)      307
LIFE PARTNER            13
Name: MARITAL_STATUS, dtype: int64

In [33]:
mar_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              39.750645
SINGLE               20.995271
WIDOWED              11.741187
DIVORCED              5.010748
SEPARATED             0.825451
UNKNOWN (DEFAULT)     0.659931
LIFE PARTNER          0.027945
dtype: float64

In [34]:
# total number of marital status in female

In [35]:
num_mar_F = df_merge_female.MARITAL_STATUS.value_counts()
mar_female_prob = df_merge_female.groupby('MARITAL_STATUS').size().div(len(df_merge_female))*100
num_mar_F

MARRIED              6192
SINGLE               4154
WIDOWED              4065
DIVORCED             1219
SEPARATED             212
UNKNOWN (DEFAULT)     154
LIFE PARTNER            5
Name: MARITAL_STATUS, dtype: int64

In [36]:
mar_female_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              30.354429
SINGLE               20.363743
WIDOWED              19.927447
DIVORCED              5.975783
SEPARATED             1.039267
UNKNOWN (DEFAULT)     0.754939
LIFE PARTNER          0.024511
dtype: float64

In [37]:
# total number of marital status in male
num_mar_M = df_merge_male.MARITAL_STATUS.value_counts()
mar_male_prob = df_merge_male.groupby('MARITAL_STATUS').size().div(len(df_merge_male))*100
num_mar_M

MARRIED              12300
SINGLE                5613
WIDOWED               1397
DIVORCED              1112
SEPARATED              172
UNKNOWN (DEFAULT)      153
LIFE PARTNER             8
Name: MARITAL_STATUS, dtype: int64

In [38]:
mar_male_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              47.088549
SINGLE               21.488458
WIDOWED               5.348187
DIVORCED              4.257111
SEPARATED             0.658474
UNKNOWN (DEFAULT)     0.585736
LIFE PARTNER          0.030627
dtype: float64

# Calculate Age

In [39]:
adm_age = pd.merge( df_adm , df_pat, how='inner', on='SUBJECT_ID')
adm_age.tail(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID_y,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
58971,58592,98794,190603,2127-11-07 11:00:00,2127-11-11 14:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT /SDA,0,1,46211,M,2049-07-29 00:00:00,NaN,NaN,NaN,0
58972,58593,98797,105447,2132-12-24 20:06:00,2132-12-25 12:00:00,2132-12-25 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,ALTERED MENTAL STATUS,1,1,46212,M,2044-12-27 00:00:00,2132-12-25 00:00:00,2132-12-25 00:00:00,NaN,1
58973,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,...,TRAUMA,0,1,46213,F,2111-11-05 00:00:00,NaN,NaN,NaN,0
58974,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,SAH,1,1,46214,F,2067-09-21 00:00:00,2151-03-06 00:00:00,2151-03-06 00:00:00,NaN,1
58975,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,...,RENAL CANCER/SDA,0,1,46215,M,2158-03-02 00:00:00,NaN,NaN,NaN,0

In [40]:
adm_age.shape

(58976, 26)

In [41]:
adm_age['ADMITTIME'] = pd.to_datetime(adm_age['ADMITTIME']).dt.date
adm_age['DISCHTIME'] = pd.to_datetime(adm_age['DISCHTIME']).dt.date

adm_age['DOB'] = pd.to_datetime(adm_age['DOB']).dt.date

adm_age['AGE'] = (adm_age['ADMITTIME']-adm_age['DOB']).apply(lambda x: int(x.days/365))

In [135]:
adm_age = adm_age.drop(['ROW_ID_x', 'ROW_ID_y'], axis=1)

In [200]:
# Add admit times
adm_age['ADMIT_TIMES'] = adm_age.groupby('SUBJECT_ID').SUBJECT_ID.transform('count')
# Add length stay
adm_age['LENGTH_STAY'] = (adm_age['DISCHTIME'] - adm_age['ADMITTIME']).apply(lambda x: int(x.days))

# Filter Out VTE

In [183]:
lista = ['4511', '4512', '45181', '4534', '4535', '45183', '45184', '45189', '45372', '45373', '45374', '45375', '45376', '45377', '45382', '45383', '45384', '45385', '45386', '45387', '4510', '4519', '4520', '4530', '4530', '4531', '4532', '4533', '45379', '4538', '45389', '4539']
df_vte = df_dia_icd.loc[df_dia_icd['ICD9_CODE'].isin(lista)]

# df_vte.shape

## Merge admission_age df and vte df

In [201]:
vte_adm = pd.merge(df_vte, adm_age, how='inner', on=['SUBJECT_ID', 'HADM_ID'])

#### Gender Count in total

In [292]:
vte_adm.GENDER.value_counts()

M    652
F    501
Name: GENDER, dtype: int64

#### Percentile of Ethnicity in total

In [307]:
race = vte_adm.groupby('ETHNICITY').size()
race_prop = race.div(len(vte_adm))*100

In [308]:
race_prop.sort_values(ascending=False)

ETHNICITY
WHITE                         70.511709
BLACK                         12.922810
UNKNOWN/NOT SPECIFIED          6.851691
HISPANIC OR LATINO             3.209020
ASIAN                          2.601908
OTHER                          1.994796
UNABLE TO OBTAIN               0.867303
PATIENT DECLINED TO ANSWER     0.607112
MULTI RACE ETHNICITY           0.346921
MIDDLE EASTERN                 0.086730
dtype: float64

In [309]:
race.sort_values(ascending=False)

ETHNICITY
WHITE                         813
BLACK                         149
UNKNOWN/NOT SPECIFIED          79
HISPANIC OR LATINO             37
ASIAN                          30
OTHER                          23
UNABLE TO OBTAIN               10
PATIENT DECLINED TO ANSWER      7
MULTI RACE ETHNICITY            4
MIDDLE EASTERN                  1
dtype: int64

In [314]:
# female
race_f = vte_adm[vte_adm['GENDER'] == 'F'].groupby('ETHNICITY').size()
race_f_prop = race_f.div(len(vte_adm))*100

In [315]:
race_f_prop.sort_values(ascending=False)

ETHNICITY
WHITE                         28.534258
BLACK                          7.632264
UNKNOWN/NOT SPECIFIED          2.948829
ASIAN                          1.214224
OTHER                          1.214224
HISPANIC OR LATINO             1.040763
UNABLE TO OBTAIN               0.433651
PATIENT DECLINED TO ANSWER     0.260191
MIDDLE EASTERN                 0.086730
MULTI RACE ETHNICITY           0.086730
dtype: float64

In [316]:
race_f.sort_values(ascending=False)

ETHNICITY
WHITE                         329
BLACK                          88
UNKNOWN/NOT SPECIFIED          34
ASIAN                          14
OTHER                          14
HISPANIC OR LATINO             12
UNABLE TO OBTAIN                5
PATIENT DECLINED TO ANSWER      3
MIDDLE EASTERN                  1
MULTI RACE ETHNICITY            1
dtype: int64

In [317]:
# male
race_m = vte_adm[vte_adm['GENDER'] == 'M'].groupby('ETHNICITY').size()
race_m_prop = race_m.div(len(vte_adm))*100

In [318]:
race_m_prop.sort_values(ascending=False)

ETHNICITY
WHITE                         41.977450
BLACK                          5.290546
UNKNOWN/NOT SPECIFIED          3.902862
HISPANIC OR LATINO             2.168257
ASIAN                          1.387684
OTHER                          0.780572
UNABLE TO OBTAIN               0.433651
PATIENT DECLINED TO ANSWER     0.346921
MULTI RACE ETHNICITY           0.260191
dtype: float64

In [319]:
race_m.sort_values(ascending=False)

ETHNICITY
WHITE                         484
BLACK                          61
UNKNOWN/NOT SPECIFIED          45
HISPANIC OR LATINO             25
ASIAN                          16
OTHER                           9
UNABLE TO OBTAIN                5
PATIENT DECLINED TO ANSWER      4
MULTI RACE ETHNICITY            3
dtype: int64

##### Sort age

In [222]:
vte_adm = vte_adm.sort_values(by='AGE')

In [234]:
vte_adm.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,...,HAS_CHARTEVENTS_DATA,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY
27,10124,873,162837,5.0,4532,2134-02-24,2134-03-26,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,...,1,M,2134-02-24,NaN,NaN,NaN,0,0,1,30
28,10126,873,162837,7.0,4533,2134-02-24,2134-03-26,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,...,1,M,2134-02-24,NaN,NaN,NaN,0,0,1,30
718,363667,31597,131426,11.0,4519,2199-05-27,2199-09-02,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,...,1,M,2199-05-27,NaN,NaN,NaN,0,0,1,98
135,75190,6732,152060,2.0,4538,2197-11-02,2197-11-09,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,...,1,F,2180-06-01,2198-04-02 00:00:00,NaN,2198-04-02 00:00:00,1,17,1,7
134,75189,6732,152060,1.0,4532,2197-11-02,2197-11-09,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,...,1,F,2180-06-01,2198-04-02 00:00:00,NaN,2198-04-02 00:00:00,1,17,1,7

#### Age Range

In [243]:
condition = [((vte_adm['AGE']>=0) & (vte_adm['AGE']<=9)),
            ((vte_adm['AGE']>=10) & (vte_adm['AGE']<=19)),
            ((vte_adm['AGE']>=20) & (vte_adm['AGE']<=29)),
            ((vte_adm['AGE']>=30) & (vte_adm['AGE']<=39)),
            ((vte_adm['AGE']>=40) & (vte_adm['AGE']<=49)),
            ((vte_adm['AGE']>=50) & (vte_adm['AGE']<=59)),
            ((vte_adm['AGE']>=60) & (vte_adm['AGE']<=69)),
            ((vte_adm['AGE']>=70) & (vte_adm['AGE']<=79)),
            ((vte_adm['AGE']>=80) & (vte_adm['AGE']<=89)),
            (vte_adm['AGE'] > 89)]

age_range = ['[0-9]', '[10-19]', '[20-29]', '[30-39]', '[40-49]', '[50-59]', '[60-69]', '[70-79]', '[80-89]', '[89+]']

vte_adm['AGE_RANGE'] = np.select(condition, age_range)

In [244]:
vte_adm.groupby('AGE_RANGE').size()

AGE_RANGE
[0-9]        3
[10-19]      8
[20-29]     33
[30-39]     72
[40-49]    132
[50-59]    224
[60-69]    249
[70-79]    243
[80-89]    153
[89+]       36
dtype: int64

In [248]:
vte_adm['AGE'].describe()

count    1153.000000
mean       68.940156
std        44.486586
min         0.000000
25%        51.000000
50%        64.000000
75%        76.000000
max       307.000000
Name: AGE, dtype: float64

In [269]:
#Female
vte_adm['AGE'][vte_adm['GENDER'] == 'F'].describe()

count    501.000000
mean      71.315369
std       49.533750
min       17.000000
25%       51.000000
50%       66.000000
75%       76.000000
max      307.000000
Name: AGE, dtype: float64

In [270]:
# Male
vte_adm['AGE'][vte_adm['GENDER'] == 'M'].describe()

count    652.000000
mean      67.115031
std       40.124200
min        0.000000
25%       51.750000
50%       63.000000
75%       75.000000
max      302.000000
Name: AGE, dtype: float64

#### Admit times

In [271]:
vte_adm['ADMIT_TIMES'].describe()

count    1153.000000
mean        2.267997
std         2.630977
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        34.000000
Name: ADMIT_TIMES, dtype: float64

In [272]:
#Female
vte_adm['ADMIT_TIMES'][vte_adm['GENDER'] == 'F'].describe()

count    501.000000
mean       2.357285
std        3.172710
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       34.000000
Name: ADMIT_TIMES, dtype: float64

In [273]:
# Male
vte_adm['ADMIT_TIMES'][vte_adm['GENDER'] == 'M'].describe()

count    652.000000
mean       2.199387
std        2.122978
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       16.000000
Name: ADMIT_TIMES, dtype: float64

#### Length Stay

In [250]:
vte_adm['LENGTH_STAY'].describe()

count    1153.000000
mean       18.501301
std        18.526263
min         0.000000
25%         8.000000
50%        14.000000
75%        22.000000
max       182.000000
Name: LENGTH_STAY, dtype: float64

In [274]:
#Female
vte_adm['LENGTH_STAY'][vte_adm['GENDER'] == 'F'].describe()

count    501.000000
mean      17.720559
std       15.829143
min        0.000000
25%        8.000000
50%       14.000000
75%       21.000000
max      182.000000
Name: LENGTH_STAY, dtype: float64

In [275]:
# Male
vte_adm['LENGTH_STAY'][vte_adm['GENDER'] == 'M'].describe()

count    652.000000
mean      19.101227
std       20.349153
min        0.000000
25%        8.000000
50%       14.000000
75%       22.250000
max      174.000000
Name: LENGTH_STAY, dtype: float64

# All Patients Who Was Readmitted Within 30 days

In [252]:
adm_age.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,HAS_CHARTEVENTS_DATA,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY
0,22,165315,2196-04-09,2196-04-10,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,...,1,F,2131-05-07,NaN,NaN,NaN,0,64,1,1
1,23,152223,2153-09-03,2153-09-08,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,...,1,M,2082-07-17,NaN,NaN,NaN,0,71,2,5
2,23,124321,2157-10-18,2157-10-25,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,...,1,M,2082-07-17,NaN,NaN,NaN,0,75,2,7
3,24,161859,2139-06-06,2139-06-09,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,...,1,M,2100-05-31,NaN,NaN,NaN,0,39,1,3
4,25,129635,2160-11-02,2160-11-05,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,...,1,M,2101-11-21,NaN,NaN,NaN,0,58,1,3

In [253]:
adm_age_gb = adm_age.groupby(['SUBJECT_ID'], axis=0, as_index=False)

In [254]:
readmit = adm_age_gb.filter(lambda x: (x['SUBJECT_ID'].value_counts()) > 1)

In [255]:
readmit = readmit.reset_index(drop = True)

In [256]:
readmit.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,HAS_CHARTEVENTS_DATA,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY
0,23,152223,2153-09-03,2153-09-08,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,...,1,M,2082-07-17,NaN,NaN,NaN,0,71,2,5
1,23,124321,2157-10-18,2157-10-25,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,...,1,M,2082-07-17,NaN,NaN,NaN,0,75,2,7
2,34,115799,2186-07-18,2186-07-20,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,ENGL,...,1,M,1886-07-18,2192-01-30 00:00:00,NaN,2192-01-30 00:00:00,1,300,2,2
3,34,144319,2191-02-23,2191-02-25,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,...,1,M,1886-07-18,2192-01-30 00:00:00,NaN,2192-01-30 00:00:00,1,304,2,2
4,36,182104,2131-04-30,2131-05-08,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,...,1,M,2061-08-17,NaN,NaN,NaN,0,69,3,8

In [257]:
# Count Readmit Days For Each Subject

def count_days(df):
    ID = df.loc[0, 'SUBJECT_ID']
    count = 0
    day = df.loc[0, 'ADMITTIME']
    
    for i in range(len(df)):
        if df.loc[i, 'SUBJECT_ID'] == ID:
            count += 1
        else:
            ID = df.loc[i, 'SUBJECT_ID']
            count = 1
            
        if count > 1:
            df.loc[i, 'READMIT_DAY'] = (df.loc[i,'ADMITTIME'] - day).days
            day = df.loc[i, 'ADMITTIME']
        else:
            df.loc[i, 'READMIT_DAY'] = 0
            day = df.loc[i, 'DISCHTIME']
            
            
    return df

In [258]:
readmit = count_days(readmit)

In [259]:
readmit['READMIT_DAY'] = readmit['READMIT_DAY'].astype(int)

In [260]:
readmit = readmit[(readmit['READMIT_DAY'] > 0) & (readmit['READMIT_DAY'] <= 30)]

In [261]:
readmit=readmit.reset_index(drop=True)

In [262]:
readmit.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY,READMIT_DAY
0,36,122659,2131-05-12,2131-05-25,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,ENGL,...,M,2061-08-17,NaN,NaN,NaN,0,69,3,13,4
1,362,150873,2112-07-28,2112-08-03,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,...,F,2026-09-23,2115-08-04 00:00:00,NaN,2115-08-04 00:00:00,1,85,2,6,12
2,68,108329,2174-01-04,2174-01-19,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,...,F,2132-02-29,2174-02-11 00:00:00,NaN,2174-02-11 00:00:00,1,41,2,15,1
3,103,133550,2144-08-30,2144-09-01,2144-09-01 14:28:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Private,NaN,...,F,2084-04-14,2144-09-01 00:00:00,2144-09-01 00:00:00,2144-09-01 00:00:00,1,60,2,2,10
4,105,128744,2189-02-21,2189-02-25,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,NaN,...,F,2153-09-26,2190-02-15 00:00:00,NaN,2190-02-15 00:00:00,1,35,2,4,19

#### Test Function

In [63]:
# test
data = {'SUBJECT_ID': [23, 23,
                 24, 24, 25, 25, 25],
        'ADMITTIME': ['2153-09-03 07:15:00', '2157-10-18 19:34:00', '2186-07-18 16:46:00', '2191-02-23 05:23:00', '2186-01-16 10:30:00', '2186-02-08 12:30:00', '2189-07-10 18:08:00'],
        'DISCHTIME': ['2153-09-08 19:10:00', '2157-10-25 14:00:00', '2186-07-20 16:00:00', '2191-02-25 20:20:00', '2186-01-16 16:30:00', '2186-02-08 20:21:00', '2189-07-17 14:57:00']}

df_test = pd.DataFrame(data, columns=['SUBJECT_ID', 'ADMITTIME',
                                 'DISCHTIME'])

In [64]:
df_test['ADMITTIME'] = pd.to_datetime(df_test['ADMITTIME']).dt.date
df_test['DISCHTIME'] = pd.to_datetime(df_test['DISCHTIME']).dt.date

df_new = count_days(df_test)
df_new['READMIT_DAY'] = df_new['READMIT_DAY'].astype(int)

In [65]:
df_new

   SUBJECT_ID   ADMITTIME   DISCHTIME  READMIT_DAY
0          23  2153-09-03  2153-09-08            0
1          23  2157-10-18  2157-10-25         1501
2          24  2186-07-18  2186-07-20            0
3          24  2191-02-23  2191-02-25         1679
4          25  2186-01-16  2186-01-16            0
5          25  2186-02-08  2186-02-08           23
6          25  2189-07-10  2189-07-17         1248

# Patient With VTE Readmit Within 30 days

In [263]:
readmit_subset = readmit[['SUBJECT_ID', 'HADM_ID', 'READMIT_DAY']]

In [264]:
vte_readmit = pd.merge(vte_adm, readmit_subset, how='inner', on=['SUBJECT_ID', 'HADM_ID'])

In [265]:
vte_readmit = vte_readmit.drop('ROW_ID', axis=1)

In [280]:
vte_readmit.shape

(129, 31)

#### Gender

In [320]:
vte_readmit.GENDER.value_counts()

M    77
F    52
Name: GENDER, dtype: int64

#### Race

In [322]:
# total
race2 = vte_readmit.groupby('ETHNICITY').size()
race2_prop = race2.div(len(vte_readmit))*100

In [323]:
race2_prop.sort_values(ascending=False)

ETHNICITY
WHITE                    78.294574
BLACK                    13.953488
HISPANIC OR LATINO        4.651163
UNKNOWN/NOT SPECIFIED     1.550388
OTHER                     0.775194
UNABLE TO OBTAIN          0.775194
dtype: float64

In [325]:
race2.sort_values(ascending=False)

ETHNICITY
WHITE                    101
BLACK                     18
HISPANIC OR LATINO         6
UNKNOWN/NOT SPECIFIED      2
OTHER                      1
UNABLE TO OBTAIN           1
dtype: int64

In [326]:
# female
race2_f = vte_readmit[vte_readmit['GENDER'] == 'F'].groupby('ETHNICITY').size()
race2_f_prop = race2_f.div(len(vte_readmit))*100

In [327]:
race2_f_prop.sort_values(ascending=False)

ETHNICITY
WHITE                 28.682171
BLACK                  9.302326
HISPANIC OR LATINO     1.550388
OTHER                  0.775194
dtype: float64

In [328]:
race2_f.sort_values(ascending=False)

ETHNICITY
WHITE                 37
BLACK                 12
HISPANIC OR LATINO     2
OTHER                  1
dtype: int64

In [330]:
# male
race2_m = vte_readmit[vte_readmit['GENDER'] == 'M'].groupby('ETHNICITY').size()
race2_m_prop = race2_m.div(len(vte_readmit))*100

In [332]:
race2_m_prop.sort_values(ascending=False)

ETHNICITY
WHITE                    49.612403
BLACK                     4.651163
HISPANIC OR LATINO        3.100775
UNKNOWN/NOT SPECIFIED     1.550388
UNABLE TO OBTAIN          0.775194
dtype: float64

In [333]:
race2_m.sort_values(ascending=False)

ETHNICITY
WHITE                    64
BLACK                     6
HISPANIC OR LATINO        4
UNKNOWN/NOT SPECIFIED     2
UNABLE TO OBTAIN          1
dtype: int64

#### Age

In [278]:
vte_readmit['AGE'].describe()

count    129.000000
mean      70.604651
std       38.444444
min       22.000000
25%       56.000000
50%       68.000000
75%       78.000000
max      300.000000
Name: AGE, dtype: float64

In [279]:
# female
vte_readmit['AGE'][vte_readmit['GENDER'] == 'F'].describe()

count     52.000000
mean      68.961538
std       36.433104
min       24.000000
25%       54.000000
50%       67.500000
75%       76.500000
max      300.000000
Name: AGE, dtype: float64

In [281]:
# male
vte_readmit['AGE'][vte_readmit['GENDER'] == 'M'].describe()

count     77.000000
mean      71.714286
std       39.942346
min       22.000000
25%       57.000000
50%       68.000000
75%       78.000000
max      300.000000
Name: AGE, dtype: float64

#### Length Stay

In [282]:
vte_readmit['LENGTH_STAY'].describe()

count    129.000000
mean      15.457364
std       15.531222
min        2.000000
25%        7.000000
50%       12.000000
75%       17.000000
max      100.000000
Name: LENGTH_STAY, dtype: float64

In [283]:
# female
vte_readmit['LENGTH_STAY'][vte_readmit['GENDER'] == 'F'].describe()

count     52.000000
mean      16.769231
std       19.228875
min        2.000000
25%        6.000000
50%       11.000000
75%       20.000000
max      100.000000
Name: LENGTH_STAY, dtype: float64

In [284]:
# male
vte_readmit['LENGTH_STAY'][vte_readmit['GENDER'] == 'M'].describe()

count    77.000000
mean     14.571429
std      12.496766
min       2.000000
25%       7.000000
50%      12.000000
75%      17.000000
max      83.000000
Name: LENGTH_STAY, dtype: float64

#### Admit Times

In [285]:
vte_readmit['ADMIT_TIMES'].describe()

count    129.000000
mean       3.976744
std        4.453694
min        2.000000
25%        2.000000
50%        3.000000
75%        4.000000
max       34.000000
Name: ADMIT_TIMES, dtype: float64

In [286]:
# female
vte_readmit['ADMIT_TIMES'][vte_readmit['GENDER'] == 'F'].describe()

count    52.000000
mean      4.557692
std       6.399796
min       2.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      34.000000
Name: ADMIT_TIMES, dtype: float64

In [287]:
# male
vte_readmit['ADMIT_TIMES'][vte_readmit['GENDER'] == 'M'].describe()

count    77.000000
mean      3.584416
std       2.352774
min       2.000000
25%       2.000000
50%       3.000000
75%       5.000000
max      12.000000
Name: ADMIT_TIMES, dtype: float64

#### Readmit Days

In [288]:
vte_readmit['READMIT_DAY'].describe()

count    129.000000
mean      14.093023
std        8.760210
min        1.000000
25%        7.000000
50%       13.000000
75%       21.000000
max       30.000000
Name: READMIT_DAY, dtype: float64

In [290]:
# female
vte_readmit['READMIT_DAY'][vte_readmit['GENDER'] == 'F'].describe()

count    52.000000
mean     13.692308
std       8.667131
min       1.000000
25%       7.000000
50%      11.000000
75%      19.500000
max      30.000000
Name: READMIT_DAY, dtype: float64

In [291]:
# male
vte_readmit['READMIT_DAY'][vte_readmit['GENDER'] == 'M'].describe()

count    77.000000
mean     14.363636
std       8.868794
min       1.000000
25%       6.000000
50%      14.000000
75%      22.000000
max      30.000000
Name: READMIT_DAY, dtype: float64