# Load Dataset

In [1]:
# set up notebook
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy

In [2]:
# read the admissions table
df_adm = pd.read_csv('ADMISSIONS.csv')
df_pat = pd.read_csv('PATIENTS.csv')
df_icu = pd.read_csv('ICUSTAYS.csv')

In [3]:
df_ineven = pd.read_csv('INPUTEVENTS_CV.csv')

/Users/kexinzhang/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,9,17,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [475]:
df_dicd_dia = pd.read_csv('D_ICD_DIAGNOSES.csv')

In [4]:
#df_proce = pd.read_csv('PROCEDUREEVENTS_MV.csv')

In [3]:
df_dia_icd = pd.read_csv('DIAGNOSES_ICD.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')

# Count Number of Total People (Whole Data)

In [4]:
df_pat.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [5]:
df_pat.GENDER.value_counts()

M    26121
F    20399
Name: GENDER, dtype: int64

In [6]:
gender_total = df_pat.SUBJECT_ID.nunique()
print("Total number of patient is :", gender_total )

Total number of patient is : 46520

#### Convert dates

In [7]:
#df_pat.DOB = pd.to_datetime(df_pat.DOB, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
#df_pat.DOD = pd.to_datetime(df_pat.DOD, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
#df_adm.ADMITTIME = pd.to_datetime(df_adm.ADMITTIME, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')

#df_pat.DOB = pd.to_datetime(df_pat.DOB).dt.date
#df_adm.ADMITTIME = pd.to_datetime(df_adm.ADMITTIME).dt.date

#type(df_pat.DOB[1])

In [8]:
df_pat.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
222,1,2,M,2138-07-17 00:00:00,NaN,NaN,NaN,0
223,2,3,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
224,3,4,F,2143-05-12 00:00:00,NaN,NaN,NaN,0
225,4,5,M,2103-02-02 00:00:00,NaN,NaN,NaN,0
226,5,6,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
41091,46516,99985,M,2127-04-08 00:00:00,NaN,NaN,NaN,0
41092,46517,99991,M,2137-04-07 00:00:00,NaN,NaN,NaN,0
41093,46518,99992,F,2078-10-17 00:00:00,NaN,NaN,NaN,0
41094,46519,99995,F,2058-05-29 00:00:00,2147-09-29 00:00:00,NaN,2147-09-29 00:00:00,1
41095,46520,99999,F,2054-01-06 00:00:00,NaN,NaN,NaN,0

# Count Ethnicity, Marital status, and Admission type (Whole Data)

In [9]:
# Summarize Ethnicity
regex_black = '(BLACK(/| )([A-Z]| )*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regex_black, 'BLACK')

regx_white = '(WHITE - [A-Z ]*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_white, 'WHITE')

regx_asian = '(ASIAN (- )?[A-Z ]*)'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_asian, 'ASIAN')

regx_hispanic = '(HISPANIC/LATINO - [A-Z \(\)]*)|(HISPANIC OR LATINO([A-Z \(\)]*))'
df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_hispanic, 'HISPANIC OR LATINO')

/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_5879/2112481919.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regex_black, 'BLACK')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_5879/2112481919.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_white, 'WHITE')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_5879/2112481919.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_asian, 'ASIAN')
/var/folders/73/37k4t3k50d7gry5vs9_z5yth0000gn/T/ipykernel_5879/2112481919.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df_adm['ETHNICITY'] = df_adm['ETHNICITY'].str.replace(regx_hispanic, 'HISPANIC OR LATINO')

#### Dropping Duplicate Subject_id

In [10]:
df_uniadm = df_adm.drop_duplicates(subset=["SUBJECT_ID"], keep='last')

In [11]:
df_uniadm.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
211,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
212,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
213,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME WITH HOME IV PROVIDR,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,2191-03-15 13:10:00,2191-03-16 01:10:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",0,1
214,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,BUDDHIST,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
215,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,CHRONIC RENAL FAILURE/SDA,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56435,58972,99985,176670,2181-01-27 02:47:00,2181-02-12 17:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,JEWISH,MARRIED,WHITE,2181-01-26 23:35:00,2181-01-27 04:18:00,FEVER,0,1
56436,58973,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,DIVERTICULITIS/SDA,0,1
56437,58974,99992,197084,2144-07-25 18:03:00,2144-07-28 17:56:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2144-07-25 13:40:00,2144-07-25 18:50:00,RETROPERITONEAL HEMORRHAGE,0,1
56565,58975,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,ABDOMINAL AORTIC ANEURYSM/SDA,0,1
56566,58976,99999,113369,2117-12-30 07:15:00,2118-01-04 16:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,SPAN,JEHOVAH'S WITNESS,SEPARATED,HISPANIC OR LATINO,NaN,NaN,SPONDYLOLISTHESIS/SDA,0,1

#### Combine patient and admission df

In [12]:
df_merge=pd.merge(df_pat, df_uniadm, how='outer', on='SUBJECT_ID')

In [13]:
df_merge.head()

,ROW_ID_x,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ROW_ID_y,HADM_ID,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,323,158975,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,NaN,NaN,GI BLEEDING\COLONOSCOPY,0,1
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1,324,124271,...,Self Pay,HAIT,NOT SPECIFIED,SINGLE,BLACK,2188-11-12 06:56:00,2188-11-12 10:10:00,PNEUMONIA;R/O TB,1,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0,325,117937,...,Private,NaN,OTHER,NaN,UNKNOWN/NOT SPECIFIED,2110-07-27 05:00:00,2110-07-27 07:15:00,INTRACRANIAL HEAD BLEED,0,1
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0,327,193470,...,Private,NaN,UNOBTAINABLE,SINGLE,WHITE,2133-08-15 01:42:00,2133-08-15 04:45:00,GASTROINTESINAL BLEED,0,1
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0,328,176189,...,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,COMPLETE HEART BLOCK\PACEMAKER IMPLANT,0,1

In [14]:
df_merge_female = df_merge[df_merge.GENDER == 'F']
df_merge_male = df_merge[df_merge.GENDER == 'M']

## Count Ethnicity

In [15]:
# total count & prob for each ethnicity
num_rac = df_uniadm.ETHNICITY.value_counts()
rac_prob = df_merge.groupby('ETHNICITY').size().div(len(df_merge))*100

In [16]:
rac_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.587274
UNKNOWN/NOT SPECIFIED                                        8.886500
BLACK                                                        8.303955
ASIAN                                                        3.632846
HISPANIC OR LATINO                                           3.529665
OTHER                                                        2.770851
UNABLE TO OBTAIN                                             1.691745
PATIENT DECLINED TO ANSWER                                   1.051161
MULTI RACE ETHNICITY                                         0.234308
AMERICAN INDIAN/ALASKA NATIVE                                0.094583
PORTUGUESE                                                   0.085985
MIDDLE EASTERN                                               0.060189
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.032244
CARIBBEAN ISLAND                                             0.017197
SOUTH AMERICAN                                               0.017197
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004299
dtype: float64

In [17]:
num_rac

WHITE                                                       32372
UNKNOWN/NOT SPECIFIED                                        4134
BLACK                                                        3863
ASIAN                                                        1690
HISPANIC OR LATINO                                           1642
OTHER                                                        1289
UNABLE TO OBTAIN                                              787
PATIENT DECLINED TO ANSWER                                    489
MULTI RACE ETHNICITY                                          109
AMERICAN INDIAN/ALASKA NATIVE                                  44
PORTUGUESE                                                     40
MIDDLE EASTERN                                                 28
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      15
SOUTH AMERICAN                                                  8
CARIBBEAN ISLAND                                                8
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        2
Name: ETHNICITY, dtype: int64

In [18]:
# total count for ethnicity in female
num_rac_F = df_merge_female.ETHNICITY.value_counts()
rac_female_prob = df_merge_female.groupby('ETHNICITY').size().div(len(df_merge_female))*100

In [19]:
rac_female_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.106329
BLACK                                                       10.054414
UNKNOWN/NOT SPECIFIED                                        8.343546
ASIAN                                                        3.647238
HISPANIC OR LATINO                                           3.235453
OTHER                                                        2.480514
UNABLE TO OBTAIN                                             1.583411
PATIENT DECLINED TO ANSWER                                   1.004951
MULTI RACE ETHNICITY                                         0.245110
AMERICAN INDIAN/ALASKA NATIVE                                0.093142
PORTUGUESE                                                   0.093142
MIDDLE EASTERN                                               0.044120
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.034315
SOUTH AMERICAN                                               0.019609
CARIBBEAN ISLAND                                             0.009804
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004902
dtype: float64

In [20]:
num_rac_F

WHITE                                                       14097
BLACK                                                        2051
UNKNOWN/NOT SPECIFIED                                        1702
ASIAN                                                         744
HISPANIC OR LATINO                                            660
OTHER                                                         506
UNABLE TO OBTAIN                                              323
PATIENT DECLINED TO ANSWER                                    205
MULTI RACE ETHNICITY                                           50
AMERICAN INDIAN/ALASKA NATIVE                                  19
PORTUGUESE                                                     19
MIDDLE EASTERN                                                  9
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                       7
SOUTH AMERICAN                                                  4
CARIBBEAN ISLAND                                                2
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        1
Name: ETHNICITY, dtype: int64

In [21]:
# total count for ethnicity in male
num_rac_M = df_merge_male.ETHNICITY.value_counts()
rac_male_prob = df_merge_male.groupby('ETHNICITY').size().div(len(df_merge_male))*100

In [22]:
rac_male_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.962865
UNKNOWN/NOT SPECIFIED                                        9.310516
BLACK                                                        6.936947
HISPANIC OR LATINO                                           3.759427
ASIAN                                                        3.621607
OTHER                                                        2.997588
UNABLE TO OBTAIN                                             1.776349
PATIENT DECLINED TO ANSWER                                   1.087248
MULTI RACE ETHNICITY                                         0.225872
AMERICAN INDIAN/ALASKA NATIVE                                0.095708
PORTUGUESE                                                   0.080395
MIDDLE EASTERN                                               0.072738
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.030627
CARIBBEAN ISLAND                                             0.022970
SOUTH AMERICAN                                               0.015313
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.003828
dtype: float64

In [23]:
num_rac_M

WHITE                                                       18275
UNKNOWN/NOT SPECIFIED                                        2432
BLACK                                                        1812
HISPANIC OR LATINO                                            982
ASIAN                                                         946
OTHER                                                         783
UNABLE TO OBTAIN                                              464
PATIENT DECLINED TO ANSWER                                    284
MULTI RACE ETHNICITY                                           59
AMERICAN INDIAN/ALASKA NATIVE                                  25
PORTUGUESE                                                     21
MIDDLE EASTERN                                                 19
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                       8
CARIBBEAN ISLAND                                                6
SOUTH AMERICAN                                                  4
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        1
Name: ETHNICITY, dtype: int64

## Count Admission Type

In [24]:
# total number of admission
num_adm = df_uniadm.ADMISSION_TYPE.value_counts()
adm_prob = df_merge.groupby('ADMISSION_TYPE').size().div(len(df_merge))*100

In [25]:
adm_prob

ADMISSION_TYPE
ELECTIVE     12.996561
EMERGENCY    68.372743
NEWBORN      16.407997
URGENT        2.222700
dtype: float64

In [26]:
# total number of admission in female
num_adm_F = df_merge_female.ADMISSION_TYPE.value_counts()
adm_female_prob = df_merge_female.groupby('ADMISSION_TYPE').size().div(len(df_merge_female))*100
num_adm_F

EMERGENCY    13983
NEWBORN       3510
ELECTIVE      2436
URGENT         470
Name: ADMISSION_TYPE, dtype: int64

In [27]:
adm_female_prob

ADMISSION_TYPE
ELECTIVE     11.941762
EMERGENCY    68.547478
NEWBORN      17.206726
URGENT        2.304035
dtype: float64

In [28]:
# total number of admission in male
num_adm_M = df_merge_male.ADMISSION_TYPE.value_counts()
adm_male_prob = df_merge_male.groupby('ADMISSION_TYPE').size().div(len(df_merge_male))*100
num_adm_M

EMERGENCY    17824
NEWBORN       4123
ELECTIVE      3610
URGENT         564
Name: ADMISSION_TYPE, dtype: int64

In [29]:
adm_male_prob

ADMISSION_TYPE
ELECTIVE     13.820298
EMERGENCY    68.236285
NEWBORN      15.784235
URGENT        2.159182
dtype: float64

## Count Marital status

In [30]:
# total number of marital status
num_mar = df_uniadm.MARITAL_STATUS.value_counts()
mar_prob = df_uniadm.groupby('MARITAL_STATUS').size().div(len(df_uniadm))*100
num_mar

MARRIED              18492
SINGLE                9767
WIDOWED               5462
DIVORCED              2331
SEPARATED              384
UNKNOWN (DEFAULT)      307
LIFE PARTNER            13
Name: MARITAL_STATUS, dtype: int64

In [31]:
mar_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              39.750645
SINGLE               20.995271
WIDOWED              11.741187
DIVORCED              5.010748
SEPARATED             0.825451
UNKNOWN (DEFAULT)     0.659931
LIFE PARTNER          0.027945
dtype: float64

In [32]:
# total number of marital status in female

In [33]:
num_mar_F = df_merge_female.MARITAL_STATUS.value_counts()
mar_female_prob = df_merge_female.groupby('MARITAL_STATUS').size().div(len(df_merge_female))*100
num_mar_F

MARRIED              6192
SINGLE               4154
WIDOWED              4065
DIVORCED             1219
SEPARATED             212
UNKNOWN (DEFAULT)     154
LIFE PARTNER            5
Name: MARITAL_STATUS, dtype: int64

In [34]:
mar_female_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              30.354429
SINGLE               20.363743
WIDOWED              19.927447
DIVORCED              5.975783
SEPARATED             1.039267
UNKNOWN (DEFAULT)     0.754939
LIFE PARTNER          0.024511
dtype: float64

In [35]:
# total number of marital status in male
num_mar_M = df_merge_male.MARITAL_STATUS.value_counts()
mar_male_prob = df_merge_male.groupby('MARITAL_STATUS').size().div(len(df_merge_male))*100
num_mar_M

MARRIED              12300
SINGLE                5613
WIDOWED               1397
DIVORCED              1112
SEPARATED              172
UNKNOWN (DEFAULT)      153
LIFE PARTNER             8
Name: MARITAL_STATUS, dtype: int64

In [36]:
mar_male_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              47.088549
SINGLE               21.488458
WIDOWED               5.348187
DIVORCED              4.257111
SEPARATED             0.658474
UNKNOWN (DEFAULT)     0.585736
LIFE PARTNER          0.030627
dtype: float64

# Calculate Age

In [37]:
adm_age = pd.merge( df_adm , df_pat, how='inner', on='SUBJECT_ID')
adm_age.tail(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID_y,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
58971,58592,98794,190603,2127-11-07 11:00:00,2127-11-11 14:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT /SDA,0,1,46211,M,2049-07-29 00:00:00,NaN,NaN,NaN,0
58972,58593,98797,105447,2132-12-24 20:06:00,2132-12-25 12:00:00,2132-12-25 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,ALTERED MENTAL STATUS,1,1,46212,M,2044-12-27 00:00:00,2132-12-25 00:00:00,2132-12-25 00:00:00,NaN,1
58973,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,...,TRAUMA,0,1,46213,F,2111-11-05 00:00:00,NaN,NaN,NaN,0
58974,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,...,SAH,1,1,46214,F,2067-09-21 00:00:00,2151-03-06 00:00:00,2151-03-06 00:00:00,NaN,1
58975,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,...,RENAL CANCER/SDA,0,1,46215,M,2158-03-02 00:00:00,NaN,NaN,NaN,0

In [186]:
adm_age.shape

(58976, 27)

In [39]:
adm_age['ADMITTIME'] = pd.to_datetime(adm_age['ADMITTIME']).dt.date
adm_age['DISCHTIME'] = pd.to_datetime(adm_age['DISCHTIME']).dt.date

adm_age['DOB'] = pd.to_datetime(adm_age['DOB']).dt.date

adm_age['AGE'] = (adm_age['ADMITTIME']-adm_age['DOB']).apply(lambda x: int(x.days/365))

In [40]:
adm_age = adm_age.drop(['ROW_ID_x', 'ROW_ID_y'], axis=1)

In [41]:
# Add admit times
adm_age['ADMIT_TIMES'] = adm_age.groupby('SUBJECT_ID').SUBJECT_ID.transform('count')
# Add length stay
adm_age['LENGTH_STAY'] = (adm_age['DISCHTIME'] - adm_age['ADMITTIME']).apply(lambda x: int(x.days))

# Filter Out VTE

In [42]:
lista = ['4511', '4512', '45181', '4534', '4535', '45183', '45184', '45189', '45372', '45373', '45374', '45375', '45376', '45377', '45382', '45383', '45384', '45385', '45386', '45387', '4510', '4519', '4520', '4530', '4530', '4531', '4532', '4533', '45379', '4538', '45389', '4539']
df_vte = df_dia_icd.loc[df_dia_icd['ICD9_CODE'].isin(lista)]

# df_vte.shape

## Merge admission_age df and vte df

In [43]:
vte_adm = pd.merge(df_vte, adm_age, how='inner', on=['SUBJECT_ID', 'HADM_ID'])

#### Gender Count in total

In [174]:
vte_adm.GENDER.value_counts()

M    652
F    501
Name: GENDER, dtype: int64

In [187]:
vte_adm.shape

(1153, 31)

In [54]:
vte_adm = vte_adm.sort_values(by='AGE')

In [55]:
vte_adm.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,...,HAS_CHARTEVENTS_DATA,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY
27,10124,873,162837,5.0,4532,2134-02-24,2134-03-26,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,...,1,M,2134-02-24,NaN,NaN,NaN,0,0,1,30
28,10126,873,162837,7.0,4533,2134-02-24,2134-03-26,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,...,1,M,2134-02-24,NaN,NaN,NaN,0,0,1,30
718,363667,31597,131426,11.0,4519,2199-05-27,2199-09-02,NaN,NEWBORN,CLINIC REFERRAL/PREMATURE,...,1,M,2199-05-27,NaN,NaN,NaN,0,0,1,98
135,75190,6732,152060,2.0,4538,2197-11-02,2197-11-09,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,...,1,F,2180-06-01,2198-04-02 00:00:00,NaN,2198-04-02 00:00:00,1,17,1,7
134,75189,6732,152060,1.0,4532,2197-11-02,2197-11-09,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,...,1,F,2180-06-01,2198-04-02 00:00:00,NaN,2198-04-02 00:00:00,1,17,1,7

In [56]:
condition = [((vte_adm['AGE']>=0) & (vte_adm['AGE']<=9)),
            ((vte_adm['AGE']>=10) & (vte_adm['AGE']<=19)),
            ((vte_adm['AGE']>=20) & (vte_adm['AGE']<=29)),
            ((vte_adm['AGE']>=30) & (vte_adm['AGE']<=39)),
            ((vte_adm['AGE']>=40) & (vte_adm['AGE']<=49)),
            ((vte_adm['AGE']>=50) & (vte_adm['AGE']<=59)),
            ((vte_adm['AGE']>=60) & (vte_adm['AGE']<=69)),
            ((vte_adm['AGE']>=70) & (vte_adm['AGE']<=79)),
            ((vte_adm['AGE']>=80) & (vte_adm['AGE']<=89)),
            (vte_adm['AGE'] > 89)]

age_range = ['[0-9]', '[10-19]', '[20-29]', '[30-39]', '[40-49]', '[50-59]', '[60-69]', '[70-79]', '[80-89]', '[89+]']

vte_adm['AGE_RANGE'] = np.select(condition, age_range)

In [57]:
vte_adm.groupby('AGE_RANGE').size()

AGE_RANGE
[0-9]        3
[10-19]      8
[20-29]     33
[30-39]     72
[40-49]    132
[50-59]    224
[60-69]    249
[70-79]    243
[80-89]    153
[89+]       36
dtype: int64

In [58]:
vte_adm['AGE'].describe()

count    1153.000000
mean       68.940156
std        44.486586
min         0.000000
25%        51.000000
50%        64.000000
75%        76.000000
max       307.000000
Name: AGE, dtype: float64

In [59]:
#Female
vte_adm['AGE'][vte_adm['GENDER'] == 'F'].describe()

count    501.000000
mean      71.315369
std       49.533750
min       17.000000
25%       51.000000
50%       66.000000
75%       76.000000
max      307.000000
Name: AGE, dtype: float64

In [60]:
# Male
vte_adm['AGE'][vte_adm['GENDER'] == 'M'].describe()

count    652.000000
mean      67.115031
std       40.124200
min        0.000000
25%       51.750000
50%       63.000000
75%       75.000000
max      302.000000
Name: AGE, dtype: float64

In [61]:
vte_adm['ADMIT_TIMES'].describe()

count    1153.000000
mean        2.267997
std         2.630977
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        34.000000
Name: ADMIT_TIMES, dtype: float64

In [62]:
#Female
vte_adm['ADMIT_TIMES'][vte_adm['GENDER'] == 'F'].describe()

count    501.000000
mean       2.357285
std        3.172710
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       34.000000
Name: ADMIT_TIMES, dtype: float64

In [63]:
# Male
vte_adm['ADMIT_TIMES'][vte_adm['GENDER'] == 'M'].describe()

count    652.000000
mean       2.199387
std        2.122978
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       16.000000
Name: ADMIT_TIMES, dtype: float64

In [64]:
vte_adm['LENGTH_STAY'].describe()

count    1153.000000
mean       18.501301
std        18.526263
min         0.000000
25%         8.000000
50%        14.000000
75%        22.000000
max       182.000000
Name: LENGTH_STAY, dtype: float64

In [65]:
#Female
vte_adm['LENGTH_STAY'][vte_adm['GENDER'] == 'F'].describe()

count    501.000000
mean      17.720559
std       15.829143
min        0.000000
25%        8.000000
50%       14.000000
75%       21.000000
max      182.000000
Name: LENGTH_STAY, dtype: float64

In [66]:
# Male
vte_adm['LENGTH_STAY'][vte_adm['GENDER'] == 'M'].describe()

count    652.000000
mean      19.101227
std       20.349153
min        0.000000
25%        8.000000
50%       14.000000
75%       22.250000
max      174.000000
Name: LENGTH_STAY, dtype: float64

# All Patients Who Was Readmitted Within 30 days

In [67]:
adm_age.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,HAS_CHARTEVENTS_DATA,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY
0,22,165315,2196-04-09,2196-04-10,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,...,1,F,2131-05-07,NaN,NaN,NaN,0,64,1,1
1,23,152223,2153-09-03,2153-09-08,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,...,1,M,2082-07-17,NaN,NaN,NaN,0,71,2,5
2,23,124321,2157-10-18,2157-10-25,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,...,1,M,2082-07-17,NaN,NaN,NaN,0,75,2,7
3,24,161859,2139-06-06,2139-06-09,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,...,1,M,2100-05-31,NaN,NaN,NaN,0,39,1,3
4,25,129635,2160-11-02,2160-11-05,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,...,1,M,2101-11-21,NaN,NaN,NaN,0,58,1,3

In [241]:
adm_age_gb = adm_age.sort_values(by=['SUBJECT_ID', 'ADMITTIME']).groupby(['SUBJECT_ID'], axis=0, as_index=False)

In [242]:
readmit = adm_age_gb.filter(lambda x: (x['SUBJECT_ID'].value_counts()) > 1)

In [243]:
readmit = readmit.reset_index(drop = True)

In [244]:
readmit.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,HAS_CHARTEVENTS_DATA,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,AGE,ADMIT_TIMES,LENGTH_STAY
0,17,194023,2134-12-27,2134-12-31,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,...,1,F,2087-07-14,NaN,NaN,NaN,0,47,2,4
1,17,161087,2135-05-09,2135-05-13,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,...,1,F,2087-07-14,NaN,NaN,NaN,0,47,2,4
2,21,109451,2134-09-11,2134-09-24,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,...,1,M,2047-04-04,2135-02-08 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,1,87,2,13
3,21,111970,2135-01-30,2135-02-08,2135-02-08 02:08:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,...,1,M,2047-04-04,2135-02-08 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,1,87,2,9
4,23,152223,2153-09-03,2153-09-08,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,...,1,M,2082-07-17,NaN,NaN,NaN,0,71,2,5

In [245]:
# Count Readmit Days For Each Subject

def count_days(df):
    ID = df.loc[0, 'SUBJECT_ID']
    count = 0
    day = df.loc[0, 'ADMITTIME']
    
    for i in range(len(df)):
        if df.loc[i, 'SUBJECT_ID'] == ID:
            count += 1
        else:
            ID = df.loc[i, 'SUBJECT_ID']
            count = 1
            
        if count > 1:
            df.loc[i, 'READMIT_DAY'] = (df.loc[i,'ADMITTIME'] - day).days
            day = df.loc[i, 'DISCHTIME']
        else:
            df.loc[i, 'READMIT_DAY'] = 0
            day = df.loc[i, 'DISCHTIME']
            
            
    return df

In [246]:
readmit = count_days(readmit)

In [247]:
readmit['READMIT_DAY'] = readmit['READMIT_DAY'].astype(int)

In [248]:
readmit = readmit[(readmit['READMIT_DAY'] >= 0) & (readmit['READMIT_DAY'] < 30)]

In [254]:
readmit=readmit.reset_index(drop=True)

In [261]:
# All Aptients who admit within 30 days include their first day
readmit = readmit.groupby(['SUBJECT_ID'], axis=0, as_index=False).filter(lambda x: (x['SUBJECT_ID'].value_counts()) > 1)

In [321]:
readmit.shape

(6003, 28)

#### Test Function

In [78]:
# test
data = {'SUBJECT_ID': [23, 23,
                 24, 24, 25, 25, 25],
        'ADMITTIME': ['2153-09-03 07:15:00', '2157-10-18 19:34:00', '2186-07-18 16:46:00', '2191-02-23 05:23:00', '2186-01-16 10:30:00', '2186-02-08 12:30:00', '2189-07-10 18:08:00'],
        'DISCHTIME': ['2153-09-08 19:10:00', '2157-10-25 14:00:00', '2186-07-20 16:00:00', '2191-02-25 20:20:00', '2186-01-16 16:30:00', '2186-02-08 20:21:00', '2189-07-17 14:57:00']}

df_test = pd.DataFrame(data, columns=['SUBJECT_ID', 'ADMITTIME',
                                 'DISCHTIME'])

In [79]:
df_test['ADMITTIME'] = pd.to_datetime(df_test['ADMITTIME']).dt.date
df_test['DISCHTIME'] = pd.to_datetime(df_test['DISCHTIME']).dt.date

df_new = count_days(df_test)
df_new['READMIT_DAY'] = df_new['READMIT_DAY'].astype(int)

In [80]:
df_new

   SUBJECT_ID   ADMITTIME   DISCHTIME  READMIT_DAY
0          23  2153-09-03  2153-09-08            0
1          23  2157-10-18  2157-10-25         1501
2          24  2186-07-18  2186-07-20            0
3          24  2191-02-23  2191-02-25         1679
4          25  2186-01-16  2186-01-16            0
5          25  2186-02-08  2186-02-08           23
6          25  2189-07-10  2189-07-17         1248

# Patient With VTE Readmit Within 30 days

In [276]:
readmit_subset = readmit[['SUBJECT_ID', 'HADM_ID', 'READMIT_DAY']]
vte_readmit = pd.merge(vte_adm, readmit_subset, how='inner', on=['SUBJECT_ID', 'HADM_ID'])
vte_readmit = vte_readmit.drop('ROW_ID', axis=1)

In [333]:
vte_id = vte_readmit[['SUBJECT_ID','HADM_ID']]
vte_id = vte_id[['SUBJECT_ID','HADM_ID']].apply(tuple, axis=1)

In [344]:
# unique vte SID & HID
vte_uid = vte_readmit[['SUBJECT_ID','HADM_ID','ETHNICITY', 'GENDER', 'AGE', 'ADMIT_TIMES', 'LENGTH_STAY', 'READMIT_DAY']].drop_duplicates(subset = ['SUBJECT_ID', 'HADM_ID','ETHNICITY', 'GENDER', 'AGE', 'ADMIT_TIMES', 'LENGTH_STAY', 'READMIT_DAY'],
  keep = 'last').reset_index(drop = True)

In [349]:
# VTE readmit patients' total number
vte_uid.shape

(197, 8)

#### Gender

In [414]:
vte_uid.GENDER.value_counts()

M    113
F     84
Name: GENDER, dtype: int64

#### Race

In [415]:
# total
race2 = vte_uid.groupby('ETHNICITY').size()
race2_prop = race2.div(len(vte_uid))*100

In [416]:
race2_prop.sort_values(ascending=False)

ETHNICITY
WHITE                    76.142132
BLACK                    13.197970
HISPANIC OR LATINO        5.076142
OTHER                     2.030457
ASIAN                     1.522843
UNKNOWN/NOT SPECIFIED     1.522843
UNABLE TO OBTAIN          0.507614
dtype: float64

In [417]:
race2.sort_values(ascending=False)

ETHNICITY
WHITE                    150
BLACK                     26
HISPANIC OR LATINO        10
OTHER                      4
ASIAN                      3
UNKNOWN/NOT SPECIFIED      3
UNABLE TO OBTAIN           1
dtype: int64

In [418]:
# female
race2_f = vte_uid[vte_uid['GENDER'] == 'F'].groupby('ETHNICITY').size()
race2_f_prop = race2_f.div(len(vte_uid))*100

In [419]:
race2_f_prop.sort_values(ascending=False)

ETHNICITY
WHITE                 28.934010
BLACK                  7.614213
HISPANIC OR LATINO     3.045685
OTHER                  2.030457
ASIAN                  1.015228
dtype: float64

In [420]:
race2_f.sort_values(ascending=False)

ETHNICITY
WHITE                 57
BLACK                 15
HISPANIC OR LATINO     6
OTHER                  4
ASIAN                  2
dtype: int64

In [421]:
# male
race2_m = vte_uid[vte_uid['GENDER'] == 'M'].groupby('ETHNICITY').size()
race2_m_prop = race2_m.div(len(vte_uid))*100

In [422]:
race2_m_prop.sort_values(ascending=False)

ETHNICITY
WHITE                    47.208122
BLACK                     5.583756
HISPANIC OR LATINO        2.030457
UNKNOWN/NOT SPECIFIED     1.522843
ASIAN                     0.507614
UNABLE TO OBTAIN          0.507614
dtype: float64

In [423]:
race2_m.sort_values(ascending=False)

ETHNICITY
WHITE                    93
BLACK                    11
HISPANIC OR LATINO        4
UNKNOWN/NOT SPECIFIED     3
ASIAN                     1
UNABLE TO OBTAIN          1
dtype: int64

#### Age

In [424]:
vte_uid['AGE'].describe()

count    197.000000
mean      68.045685
std       36.689443
min       22.000000
25%       54.000000
50%       66.000000
75%       76.000000
max      300.000000
Name: AGE, dtype: float64

In [425]:
# female
vte_uid['AGE'][vte_uid['GENDER'] == 'F'].describe()

count     84.000000
mean      69.107143
std       39.575463
min       24.000000
25%       54.000000
50%       66.000000
75%       76.000000
max      300.000000
Name: AGE, dtype: float64

In [426]:
# male
vte_uid['AGE'][vte_uid['GENDER'] == 'M'].describe()

count    113.000000
mean      67.256637
std       34.547787
min       22.000000
25%       55.000000
50%       65.000000
75%       76.000000
max      300.000000
Name: AGE, dtype: float64

#### Length Stay

In [427]:
vte_uid['LENGTH_STAY'].describe()

count    197.000000
mean      17.725888
std       18.009521
min        2.000000
25%        8.000000
50%       14.000000
75%       21.000000
max      169.000000
Name: LENGTH_STAY, dtype: float64

In [428]:
# female
vte_uid['LENGTH_STAY'][vte_uid['GENDER'] == 'F'].describe()

count     84.000000
mean      18.190476
std       16.826167
min        2.000000
25%        7.750000
50%       14.000000
75%       21.000000
max      100.000000
Name: LENGTH_STAY, dtype: float64

In [429]:
# male
vte_uid['LENGTH_STAY'][vte_uid['GENDER'] == 'M'].describe()

count    113.000000
mean      17.380531
std       18.907821
min        2.000000
25%        8.000000
50%       14.000000
75%       20.000000
max      169.000000
Name: LENGTH_STAY, dtype: float64

#### Admit Times

In [430]:
vte_readmit['ADMIT_TIMES'].describe()

count    206.000000
mean       3.975728
std        3.929177
min        2.000000
25%        2.000000
50%        3.000000
75%        4.000000
max       34.000000
Name: ADMIT_TIMES, dtype: float64

In [431]:
# female
vte_readmit['ADMIT_TIMES'][vte_readmit['GENDER'] == 'F'].describe()

count    89.000000
mean      4.449438
std       5.276473
min       2.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      34.000000
Name: ADMIT_TIMES, dtype: float64

In [432]:
# male
vte_readmit['ADMIT_TIMES'][vte_readmit['GENDER'] == 'M'].describe()

count    117.000000
mean       3.615385
std        2.420623
min        2.000000
25%        2.000000
50%        3.000000
75%        4.000000
max       12.000000
Name: ADMIT_TIMES, dtype: float64

#### Readmit Days

In [433]:
vte_uid[vte_uid['READMIT_DAY'] > 0].READMIT_DAY.describe()

count    130.000000
mean      10.723077
std        7.865158
min        1.000000
25%        5.000000
50%        9.000000
75%       15.000000
max       29.000000
Name: READMIT_DAY, dtype: float64

In [434]:
# female
vte_uid[(vte_uid['READMIT_DAY'] > 0) & (vte_uid['GENDER'] == 'F')].READMIT_DAY.describe()

count    51.000000
mean     10.529412
std       7.669036
min       1.000000
25%       5.000000
50%       9.000000
75%      15.500000
max      29.000000
Name: READMIT_DAY, dtype: float64

In [435]:
# male
vte_uid[(vte_uid['READMIT_DAY'] > 0) & (vte_uid['GENDER'] == 'M')].READMIT_DAY.describe()

count    79.000000
mean     10.848101
std       8.035320
min       1.000000
25%       5.000000
50%       9.000000
75%      15.000000
max      29.000000
Name: READMIT_DAY, dtype: float64

# Patient Without VTE Readmit Within 30 Days

In [406]:
nvte_readmit = readmit[~readmit[['SUBJECT_ID', 'HADM_ID']].apply(tuple, axis=1).isin(vte_id)]

In [407]:
# nvte unique SID & HID
nvte_uid = nvte_readmit[['SUBJECT_ID','HADM_ID','ETHNICITY', 'GENDER', 'AGE', 'ADMIT_TIMES', 'LENGTH_STAY', 'READMIT_DAY']].reset_index(drop = True)

In [408]:
# nvte nvte patients' total number
nvte_uid.shape

(5806, 8)

#### Gender

In [436]:
nvte_uid.GENDER.value_counts()

M    3335
F    2471
Name: GENDER, dtype: int64

#### Race

In [437]:
# total
race3 = nvte_uid.groupby('ETHNICITY').size()
race3_prop = race3.div(len(nvte_uid))*100

In [438]:
race3_prop.sort_values(ascending=False)

ETHNICITY
WHITE                                        71.133310
BLACK                                        13.606614
UNKNOWN/NOT SPECIFIED                         4.099208
ASIAN                                         3.530830
HISPANIC OR LATINO                            3.496383
OTHER                                         2.325181
PATIENT DECLINED TO ANSWER                    0.706166
UNABLE TO OBTAIN                              0.361695
MIDDLE EASTERN                                0.241130
PORTUGUESE                                    0.206683
AMERICAN INDIAN/ALASKA NATIVE                 0.137788
MULTI RACE ETHNICITY                          0.120565
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER     0.034447
dtype: float64

In [439]:
race3.sort_values(ascending=False)

ETHNICITY
WHITE                                        4130
BLACK                                         790
UNKNOWN/NOT SPECIFIED                         238
ASIAN                                         205
HISPANIC OR LATINO                            203
OTHER                                         135
PATIENT DECLINED TO ANSWER                     41
UNABLE TO OBTAIN                               21
MIDDLE EASTERN                                 14
PORTUGUESE                                     12
AMERICAN INDIAN/ALASKA NATIVE                   8
MULTI RACE ETHNICITY                            7
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER       2
dtype: int64

In [440]:
# female
race3_f = nvte_uid[nvte_uid['GENDER'] == 'F'].groupby('ETHNICITY').size()
race3_f_prop = race3_f.div(len(nvte_uid))*100

In [441]:
race3_f_prop.sort_values(ascending=False)

ETHNICITY
WHITE                                        29.314502
BLACK                                         7.543920
ASIAN                                         1.619015
UNKNOWN/NOT SPECIFIED                         1.377885
HISPANIC OR LATINO                            1.188426
OTHER                                         0.998967
PATIENT DECLINED TO ANSWER                    0.241130
UNABLE TO OBTAIN                              0.137788
AMERICAN INDIAN/ALASKA NATIVE                 0.068894
MULTI RACE ETHNICITY                          0.034447
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER     0.034447
dtype: float64

In [442]:
race3_f.sort_values(ascending=False)

ETHNICITY
WHITE                                        1702
BLACK                                         438
ASIAN                                          94
UNKNOWN/NOT SPECIFIED                          80
HISPANIC OR LATINO                             69
OTHER                                          58
PATIENT DECLINED TO ANSWER                     14
UNABLE TO OBTAIN                                8
AMERICAN INDIAN/ALASKA NATIVE                   4
MULTI RACE ETHNICITY                            2
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER       2
dtype: int64

In [443]:
# male
race3_m = nvte_uid[nvte_uid['GENDER'] == 'M'].groupby('ETHNICITY').size()
race3_m_prop = race3_f.div(len(nvte_uid))*100

In [444]:
race3_m_prop.sort_values(ascending=False)

ETHNICITY
WHITE                                        29.314502
BLACK                                         7.543920
ASIAN                                         1.619015
UNKNOWN/NOT SPECIFIED                         1.377885
HISPANIC OR LATINO                            1.188426
OTHER                                         0.998967
PATIENT DECLINED TO ANSWER                    0.241130
UNABLE TO OBTAIN                              0.137788
AMERICAN INDIAN/ALASKA NATIVE                 0.068894
MULTI RACE ETHNICITY                          0.034447
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER     0.034447
dtype: float64

In [445]:
race3_m.sort_values(ascending=False)

ETHNICITY
WHITE                            2428
BLACK                             352
UNKNOWN/NOT SPECIFIED             158
HISPANIC OR LATINO                134
ASIAN                             111
OTHER                              77
PATIENT DECLINED TO ANSWER         27
MIDDLE EASTERN                     14
UNABLE TO OBTAIN                   13
PORTUGUESE                         12
MULTI RACE ETHNICITY                5
AMERICAN INDIAN/ALASKA NATIVE       4
dtype: int64

#### Age

In [446]:
nvte_uid['AGE'].describe()

count    5806.000000
mean       68.568722
std        55.332197
min         0.000000
25%        49.000000
50%        64.000000
75%        77.000000
max       310.000000
Name: AGE, dtype: float64

In [447]:
# female
nvte_uid['AGE'][nvte_uid['GENDER'] == 'F'].describe()

count    2471.000000
mean       70.396601
std        60.712721
min         0.000000
25%        47.000000
50%        64.000000
75%        77.000000
max       310.000000
Name: AGE, dtype: float64

In [448]:
nvte_uid['AGE'][nvte_uid['GENDER'] == 'M'].describe()

count    3335.000000
mean       67.214393
std        50.947859
min         0.000000
25%        50.000000
50%        63.000000
75%        76.000000
max       308.000000
Name: AGE, dtype: float64

#### Length Stay

In [449]:
nvte_uid['LENGTH_STAY'].describe()

count    5806.000000
mean       11.493111
std        13.441392
min         0.000000
25%         4.000000
50%         7.000000
75%        14.000000
max       140.000000
Name: LENGTH_STAY, dtype: float64

In [450]:
# female
nvte_uid['LENGTH_STAY'][nvte_uid['GENDER'] == 'F'].describe()

count    2471.000000
mean       11.302711
std        13.751608
min         0.000000
25%         4.000000
50%         7.000000
75%        13.000000
max       140.000000
Name: LENGTH_STAY, dtype: float64

In [451]:
# male
nvte_uid['LENGTH_STAY'][nvte_uid['GENDER'] == 'M'].describe()

count    3335.000000
mean       11.634183
std        13.207151
min         0.000000
25%         4.000000
50%         7.000000
75%        14.000000
max       138.000000
Name: LENGTH_STAY, dtype: float64

#### Admit Times

In [452]:
nvte_uid['ADMIT_TIMES'].describe()

count    5806.000000
mean        3.951085
std         4.511715
min         2.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        42.000000
Name: ADMIT_TIMES, dtype: float64

In [453]:
# female
nvte_uid['ADMIT_TIMES'][nvte_uid['GENDER'] == 'F'].describe()

count    2471.000000
mean        4.093889
std         4.575601
min         2.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        34.000000
Name: ADMIT_TIMES, dtype: float64

In [454]:
# male
nvte_uid['ADMIT_TIMES'][nvte_uid['GENDER'] == 'M'].describe()

count    3335.000000
mean        3.845277
std         4.461532
min         2.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        42.000000
Name: ADMIT_TIMES, dtype: float64

#### Readmit Days

In [455]:
nvte_uid[nvte_uid['READMIT_DAY'] > 0].READMIT_DAY.describe()

count    3164.000000
mean       11.559418
std         8.391952
min         1.000000
25%         4.000000
50%        10.000000
75%        18.000000
max        29.000000
Name: READMIT_DAY, dtype: float64

In [456]:
# female
nvte_uid[(nvte_uid['READMIT_DAY'] > 0) & (nvte_uid['GENDER'] == 'F')].READMIT_DAY.describe()

count    1361.000000
mean       11.508450
std         8.234618
min         1.000000
25%         4.000000
50%        10.000000
75%        18.000000
max        29.000000
Name: READMIT_DAY, dtype: float64

In [458]:
# male
nvte_uid[(nvte_uid['READMIT_DAY'] > 0) & (nvte_uid['GENDER'] == 'M')].READMIT_DAY.describe()

count    1803.000000
mean       11.597892
std         8.510862
min         1.000000
25%         4.000000
50%        10.000000
75%        18.000000
max        29.000000
Name: READMIT_DAY, dtype: float64

# Comorbidities for VTE patients readmit within 30 days

In [463]:
other_code = df_dia_icd[~df_dia_icd.ICD9_CODE.isin(lista)][['SUBJECT_ID', 'HADM_ID', 'ICD9_CODE']]

In [465]:
vte_com = pd.merge(vte_uid, other_code, how='inner', on = ['SUBJECT_ID', 'HADM_ID'])

In [469]:
vte_top5_com = vte_com['ICD9_CODE'].value_counts()[:5].sort_values(ascending=False).index.tolist()[:5]

In [470]:
vte_top5_com

['4280', '4019', '42731', '51881', '5849']

['Congestive heart failure, unspecified', 'Unspecified essential hypertension', 'Atrial fibrillation', 'Acute respiratory failure', 'Acute kidney failure, unspecified']

In [468]:
vte_com.head()

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,ADMIT_TIMES,LENGTH_STAY,READMIT_DAY,ICD9_CODE
0,32810,168208,WHITE,M,22,2,7,3,9999
1,32810,168208,WHITE,M,22,2,7,3,48281
2,32810,168208,WHITE,M,22,2,7,3,5070
3,32810,168208,WHITE,M,22,2,7,3,3481
4,32810,168208,WHITE,M,22,2,7,3,2763

# Comorbidities for Non VTE patients readmit within 30 days

In [471]:
nvte_com = pd.merge(nvte_uid, other_code, how='inner', on = ['SUBJECT_ID', 'HADM_ID'])
nvte_top5_com = nvte_com['ICD9_CODE'].value_counts()[:5].sort_values(ascending=False).index.tolist()[:5]

In [472]:
nvte_top5_com

['4019', '4280', '42731', '5849', '41401']

['Unspecified essential hypertension', 'Congestive heart failure, unspecified', 'Atrial fibrillation', 'Acute kidney failure, unspecified', 'Coronary atherosclerosis of native coronary artery']