# Load Dataset

In [1]:
# set up notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [98]:
# read the admissions table
df_adm = pd.read_csv('ADMISSIONS.csv')
df_pat = pd.read_csv('PATIENTS.csv')
df_icu = pd.read_csv('ICUSTAYS.csv')

In [66]:
df_ineven = pd.read_csv('INPUTEVENTS_CV.csv')

/Users/kexinzhang/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,9,17,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [68]:
df_ineven.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,592,24457,184834.0,205776.0,2193-09-11 09:00:00,30056,100.0,ml,NaN,NaN,...,756654,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,593,24457,184834.0,205776.0,2193-09-11 12:00:00,30056,200.0,ml,NaN,NaN,...,3564075,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,594,24457,184834.0,205776.0,2193-09-11 16:00:00,30056,160.0,ml,NaN,NaN,...,422646,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,595,24457,184834.0,205776.0,2193-09-11 19:00:00,30056,240.0,ml,NaN,NaN,...,5137889,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,596,24457,184834.0,205776.0,2193-09-11 21:00:00,30056,50.0,ml,NaN,NaN,...,8343792,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [70]:
df_dicd_dia = pd.read_csv('D_ICD_DIAGNOSES.csv')

In [72]:
df_dicd_dia.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [78]:
df_proce = pd.read_csv('PROCEDUREEVENTS_MV.csv')

In [79]:
df_proce.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
0,379,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225401,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
1,380,29070,115071,232563.0,2145-03-12 23:04:00,2145-03-12 23:05:00,225454,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
2,381,29070,115071,232563.0,2145-03-12 23:05:00,2145-03-18 20:01:00,225792,8456.0,hour,NaN,...,Ventilation,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
3,382,29070,115071,232563.0,2145-03-12 23:36:00,2145-03-12 23:37:00,225402,1.0,None,NaN,...,Procedures,NaN,Electrolytes,0,0,0,FinishedRunning,NaN,NaN,NaN
4,383,29070,115071,232563.0,2145-03-13 01:27:00,2145-03-16 16:00:00,224560,5193.0,min,Right IJ,...,Invasive Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

# Count Number of Total People

In [24]:
df_pat.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [30]:
df_pat.GENDER.value_counts()

M    26121
F    20399
Name: GENDER, dtype: int64

In [85]:
gender_total = df_pat.SUBJECT_ID.nunique()
print("Total number of patient is :", gender_total )

Total number of patient is : 46520

#### Convert dates

In [87]:
df_pat.DOB = pd.to_datetime(df_pat.DOB, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
df_pat.DOD = pd.to_datetime(df_pat.DOD, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')

In [138]:
df_pat.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
222,1,2,M,2138-07-17 00:00:00,NaN,NaN,NaN,0
223,2,3,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
224,3,4,F,2143-05-12 00:00:00,NaN,NaN,NaN,0
225,4,5,M,2103-02-02 00:00:00,NaN,NaN,NaN,0
226,5,6,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
41091,46516,99985,M,2127-04-08 00:00:00,NaN,NaN,NaN,0
41092,46517,99991,M,2137-04-07 00:00:00,NaN,NaN,NaN,0
41093,46518,99992,F,2078-10-17 00:00:00,NaN,NaN,NaN,0
41094,46519,99995,F,2058-05-29 00:00:00,2147-09-29 00:00:00,NaN,2147-09-29 00:00:00,1
41095,46520,99999,F,2054-01-06 00:00:00,NaN,NaN,NaN,0

#### Count Age

# Count Ethnicity, Marital status, and Admission type

In [60]:
df_adm.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1

#### Dropping Duplicate Subject_id

In [99]:
df_uniadm = df_adm.drop_duplicates(subset=["SUBJECT_ID"], keep='last')

In [104]:
df_uniadm.sort_values(by=['SUBJECT_ID'])

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
211,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
212,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
213,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME WITH HOME IV PROVIDR,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,2191-03-15 13:10:00,2191-03-16 01:10:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",0,1
214,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,BUDDHIST,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
215,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,CHRONIC RENAL FAILURE/SDA,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56435,58972,99985,176670,2181-01-27 02:47:00,2181-02-12 17:05:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,JEWISH,MARRIED,WHITE,2181-01-26 23:35:00,2181-01-27 04:18:00,FEVER,0,1
56436,58973,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,DIVERTICULITIS/SDA,0,1
56437,58974,99992,197084,2144-07-25 18:03:00,2144-07-28 17:56:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2144-07-25 13:40:00,2144-07-25 18:50:00,RETROPERITONEAL HEMORRHAGE,0,1
56565,58975,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,ABDOMINAL AORTIC ANEURYSM/SDA,0,1
56566,58976,99999,113369,2117-12-30 07:15:00,2118-01-04 16:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,SNF,Medicare,SPAN,JEHOVAH'S WITNESS,SEPARATED,HISPANIC OR LATINO,NaN,NaN,SPONDYLOLISTHESIS/SDA,0,1

#### Combine patient and admission df

In [108]:
df_merge=pd.merge(df_pat, df_uniadm, how='outer', on='SUBJECT_ID')

In [109]:
df_merge.head()

,ROW_ID_x,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,ROW_ID_y,HADM_ID,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0,323,158975,...,Medicare,ENGL,CATHOLIC,DIVORCED,WHITE,NaN,NaN,GI BLEEDING\COLONOSCOPY,0,1
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1,324,124271,...,Self Pay,HAIT,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2188-11-12 06:56:00,2188-11-12 10:10:00,PNEUMONIA;R/O TB,1,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0,325,117937,...,Private,NaN,OTHER,NaN,UNKNOWN/NOT SPECIFIED,2110-07-27 05:00:00,2110-07-27 07:15:00,INTRACRANIAL HEAD BLEED,0,1
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0,327,193470,...,Private,NaN,UNOBTAINABLE,SINGLE,WHITE,2133-08-15 01:42:00,2133-08-15 04:45:00,GASTROINTESINAL BLEED,0,1
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0,328,176189,...,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,COMPLETE HEART BLOCK\PACEMAKER IMPLANT,0,1

In [112]:
df_merge_female = df_merge[df_merge.GENDER == 'F']
df_merge_male = df_merge[df_merge.GENDER == 'M']

## Count Ethnicity

In [147]:
# total count & prob for each ethnicity
num_rac = df_uniadm.ETHNICITY.value_counts()
rac_prob = df_merge.groupby('ETHNICITY').size().div(len(df_merge))*100

In [148]:
rac_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.036973
UNKNOWN/NOT SPECIFIED                                        8.886500
BLACK/AFRICAN AMERICAN                                       7.712812
HISPANIC OR LATINO                                           2.869733
ASIAN                                                        2.788048
OTHER                                                        2.770851
UNABLE TO OBTAIN                                             1.691745
PATIENT DECLINED TO ANSWER                                   1.051161
ASIAN - CHINESE                                              0.496561
BLACK/CAPE VERDEAN                                           0.358985
HISPANIC/LATINO - PUERTO RICAN                               0.331040
WHITE - RUSSIAN                                              0.253654
MULTI RACE ETHNICITY                                         0.234308
BLACK/HAITIAN                                                0.161221
WHITE - OTHER EUROPEAN                                       0.152623
HISPANIC/LATINO - DOMINICAN                                  0.137575
ASIAN - ASIAN INDIAN                                         0.124678
WHITE - BRAZILIAN                                            0.096733
AMERICAN INDIAN/ALASKA NATIVE                                0.094583
ASIAN - VIETNAMESE                                           0.088134
PORTUGUESE                                                   0.085985
BLACK/AFRICAN                                                0.070937
MIDDLE EASTERN                                               0.060189
HISPANIC/LATINO - GUATEMALAN                                 0.055890
WHITE - EASTERN EUROPEAN                                     0.047291
HISPANIC/LATINO - CUBAN                                      0.034394
HISPANIC/LATINO - SALVADORAN                                 0.032244
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.032244
ASIAN - OTHER                                                0.032244
ASIAN - FILIPINO                                             0.032244
ASIAN - KOREAN                                               0.025795
HISPANIC/LATINO - MEXICAN                                    0.023646
ASIAN - CAMBODIAN                                            0.023646
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                   0.019347
CARIBBEAN ISLAND                                             0.017197
SOUTH AMERICAN                                               0.017197
HISPANIC/LATINO - COLOMBIAN                                  0.017197
ASIAN - JAPANESE                                             0.015047
HISPANIC/LATINO - HONDURAN                                   0.008598
ASIAN - THAI                                                 0.006449
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004299
dtype: float64

In [149]:
# total count for ethnicity in female
num_rac_F = df_merge_female.ETHNICITY.value_counts()
rac_female_prob = df_merge_female.groupby('ETHNICITY').size().div(len(df_merge_female))*100

In [150]:
rac_female_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       68.493554
BLACK/AFRICAN AMERICAN                                       9.382813
UNKNOWN/NOT SPECIFIED                                        8.343546
ASIAN                                                        2.789352
HISPANIC OR LATINO                                           2.607971
OTHER                                                        2.480514
UNABLE TO OBTAIN                                             1.583411
PATIENT DECLINED TO ANSWER                                   1.004951
ASIAN - CHINESE                                              0.529438
BLACK/CAPE VERDEAN                                           0.392176
HISPANIC/LATINO - PUERTO RICAN                               0.333350
WHITE - RUSSIAN                                              0.318643
MULTI RACE ETHNICITY                                         0.245110
BLACK/HAITIAN                                                0.196088
WHITE - OTHER EUROPEAN                                       0.156870
HISPANIC/LATINO - DOMINICAN                                  0.132359
WHITE - BRAZILIAN                                            0.102946
ASIAN - ASIAN INDIAN                                         0.098044
AMERICAN INDIAN/ALASKA NATIVE                                0.093142
PORTUGUESE                                                   0.093142
BLACK/AFRICAN                                                0.083337
ASIAN - VIETNAMESE                                           0.068631
ASIAN - FILIPINO                                             0.053924
MIDDLE EASTERN                                               0.044120
ASIAN - KOREAN                                               0.039218
WHITE - EASTERN EUROPEAN                                     0.034315
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.034315
HISPANIC/LATINO - CUBAN                                      0.034315
HISPANIC/LATINO - GUATEMALAN                                 0.029413
HISPANIC/LATINO - COLOMBIAN                                  0.029413
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                   0.024511
ASIAN - OTHER                                                0.024511
ASIAN - JAPANESE                                             0.024511
HISPANIC/LATINO - SALVADORAN                                 0.019609
SOUTH AMERICAN                                               0.019609
ASIAN - CAMBODIAN                                            0.019609
HISPANIC/LATINO - MEXICAN                                    0.014707
HISPANIC/LATINO - HONDURAN                                   0.009804
CARIBBEAN ISLAND                                             0.009804
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.004902
dtype: float64

In [151]:
# total count for ethnicity in male
num_rac_M = df_merge_male.ETHNICITY.value_counts()
rac_male_prob = df_merge_male.groupby('ETHNICITY').size().div(len(df_merge_male))*100

In [152]:
rac_male_prob.sort_values(ascending=False)

ETHNICITY
WHITE                                                       69.461353
UNKNOWN/NOT SPECIFIED                                        9.310516
BLACK/AFRICAN AMERICAN                                       6.408637
HISPANIC OR LATINO                                           3.074155
OTHER                                                        2.997588
ASIAN                                                        2.787030
UNABLE TO OBTAIN                                             1.776349
PATIENT DECLINED TO ANSWER                                   1.087248
ASIAN - CHINESE                                              0.470885
BLACK/CAPE VERDEAN                                           0.333065
HISPANIC/LATINO - PUERTO RICAN                               0.329237
MULTI RACE ETHNICITY                                         0.225872
WHITE - RUSSIAN                                              0.202902
WHITE - OTHER EUROPEAN                                       0.149305
ASIAN - ASIAN INDIAN                                         0.145477
HISPANIC/LATINO - DOMINICAN                                  0.141648
BLACK/HAITIAN                                                0.133992
ASIAN - VIETNAMESE                                           0.103365
AMERICAN INDIAN/ALASKA NATIVE                                0.095708
WHITE - BRAZILIAN                                            0.091880
PORTUGUESE                                                   0.080395
HISPANIC/LATINO - GUATEMALAN                                 0.076567
MIDDLE EASTERN                                               0.072738
BLACK/AFRICAN                                                0.061253
WHITE - EASTERN EUROPEAN                                     0.057425
HISPANIC/LATINO - SALVADORAN                                 0.042112
ASIAN - OTHER                                                0.038283
HISPANIC/LATINO - CUBAN                                      0.034455
HISPANIC/LATINO - MEXICAN                                    0.030627
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                    0.030627
ASIAN - CAMBODIAN                                            0.026798
CARIBBEAN ISLAND                                             0.022970
ASIAN - FILIPINO                                             0.015313
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                   0.015313
SOUTH AMERICAN                                               0.015313
ASIAN - KOREAN                                               0.015313
ASIAN - THAI                                                 0.011485
ASIAN - JAPANESE                                             0.007657
HISPANIC/LATINO - HONDURAN                                   0.007657
HISPANIC/LATINO - COLOMBIAN                                  0.007657
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE     0.003828
dtype: float64

## Count Admission Type

In [153]:
# total number of admission
num_adm = df_uniadm.ADMISSION_TYPE.value_counts()
adm_prob = df_merge.groupby('ADMISSION_TYPE').size().div(len(df_merge))*100

In [154]:
adm_prob

ADMISSION_TYPE
ELECTIVE     12.996561
EMERGENCY    68.372743
NEWBORN      16.407997
URGENT        2.222700
dtype: float64

In [156]:
# total number of admission in female
num_adm_F = df_merge_female.ADMISSION_TYPE.value_counts()
adm_female_prob = df_merge_female.groupby('ADMISSION_TYPE').size().div(len(df_merge_female))*100

In [157]:
adm_female_prob

ADMISSION_TYPE
ELECTIVE     11.941762
EMERGENCY    68.547478
NEWBORN      17.206726
URGENT        2.304035
dtype: float64

In [158]:
# total number of admission in male
num_adm_M = df_merge_male.ADMISSION_TYPE.value_counts()
adm_male_prob = df_merge_male.groupby('ADMISSION_TYPE').size().div(len(df_merge_male))*100

In [159]:
adm_male_prob

ADMISSION_TYPE
ELECTIVE     13.820298
EMERGENCY    68.236285
NEWBORN      15.784235
URGENT        2.159182
dtype: float64

## Count Marital status

In [161]:
# total number of marital status
num_mar = df_uniadm.MARITAL_STATUS.value_counts()
mar_prob = df_uniadm.groupby('MARITAL_STATUS').size().div(len(df_uniadm))*100

In [163]:
mar_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              39.750645
SINGLE               20.995271
WIDOWED              11.741187
DIVORCED              5.010748
SEPARATED             0.825451
UNKNOWN (DEFAULT)     0.659931
LIFE PARTNER          0.027945
dtype: float64

In [164]:
# total number of marital status in female

In [166]:
num_mar_F = df_merge_female.MARITAL_STATUS.value_counts()
mar_female_prob = df_merge_female.groupby('MARITAL_STATUS').size().div(len(df_merge_female))*100

In [168]:
mar_female_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              30.354429
SINGLE               20.363743
WIDOWED              19.927447
DIVORCED              5.975783
SEPARATED             1.039267
UNKNOWN (DEFAULT)     0.754939
LIFE PARTNER          0.024511
dtype: float64

In [169]:
# total number of marital status in male
num_mar_M = df_merge_male.MARITAL_STATUS.value_counts()
mar_male_prob = df_merge_male.groupby('MARITAL_STATUS').size().div(len(df_merge_male))*100

In [170]:
mar_male_prob.sort_values(ascending=False)

MARITAL_STATUS
MARRIED              47.088549
SINGLE               21.488458
WIDOWED               5.348187
DIVORCED              4.257111
SEPARATED             0.658474
UNKNOWN (DEFAULT)     0.585736
LIFE PARTNER          0.030627
dtype: float64